Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop --force-exclusion",
  "**/*.scss": "npx stylelint",
  "**/*.js?(x)": "npx eslint",
  "**/*.html.slim": "bundle exec slim-lint"
}

allow all browsers
  Gemfile
  Gemfile.lock
  app/controllers/web/application_controller.rb
Due: bundle exec rubocop --force-exclusion

update deps
  Gemfile.lock
  package-lock.json
  package.json
Due: none

fix nav width on en footer
  app/javascript/pages/layouts/blocks/FooterBlock.tsx
Due: none

:rocket: deploy
  k8s/app-chart/values.yaml
Due: none

add events after signup with demo lessons
  app/controllers/concerns/event_concern.rb
  app/controllers/web/users_controller.rb
  services/web-nginx/files/nginx.code-basics.conf
Due: bundle exec rubocop --force-exclusion

update deps
  Gemfile.lock
Due: none

fix event props
  app/javascript/pages/web/languages/lessons/show/slices/RootSlice.ts
Due: none

update deps
  package-lock.json
  package.json
Due: none

use default layout
  app/javascript/components/Root.tsx
  app/javascript/entrypoints/inertia.tsx
  app/javascript/ssr/ssr.tsx
  app/javascript/types/index.ts
Due: none

update deps
  Gemfile.lock
  app/javascript/entrypoints/inertia.tsx
  package-lock.json
  package.json
Due: none

fix commonQuestion rendering
  app/javascript/pages/web/languages/lessons/show/index.tsx
Due: none

remove useEffect from Root
  app/javascript/components/Root.tsx
Due: none

Revert "fix commonQuestion rendering"
  app/javascript/pages/web/languages/lessons/show/index.tsx
Due: none

improve styles
  app/javascript/pages/layouts/ApplicationLayout.tsx
  app/javascript/pages/layouts/blocks/FooterBlock.tsx
Due: none

add shiki
  app/javascript/components/Chat.tsx
  app/javascript/components/MarkdownViewer.tsx
  app/javascript/entrypoints/application.scss
  app/javascript/lib/markdown.ts
  app/javascript/lib/utils.ts
  app/javascript/pages/web/blog_posts/show.tsx
  app/javascript/pages/web/languages/lessons/show/index.tsx
  package-lock.json
  package.json
Due: npx stylelint

replace biome with oxlint
  .oxlintrc.json
  Makefile
  app/javascript/components/Root.tsx
  app/javascript/lib/emptyModule.ts
  app/javascript/pages/web/home/index.tsx
  biome.json
  package-lock.json
  package.json
Due: none

restore emtymodule for disable monaco editor on ssr
  app/javascript/lib/emptyModule.ts
Due: none

redirect if already have answered to the survey
  Makefile
  app/controllers/web/surveys_controller.rb
  config/locales/ru.flash.yml
  test/controllers/web/surveys_controller_test.rb
Due: bundle exec rubocop --force-exclusion

add gon
  app/controllers/web/application_controller.rb
  app/javascript/components/Root.tsx
  app/javascript/entrypoints/inertia.tsx
  app/javascript/global.d.ts
  app/javascript/init.ts
  app/javascript/lib/gon.ts
  app/javascript/ssr/ssr.tsx
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
Due: bundle exec rubocop --force-exclusion

improve surveys
  Gemfile.lock
  app/controllers/web/admin/surveys_controller.rb
  app/forms/admin/survey_form.rb
  app/javascript/locales.json
  app/javascript/pages/web/admin/surveys/edit.tsx
  app/javascript/pages/web/admin/surveys/index.tsx
  app/javascript/pages/web/admin/surveys/shared/form.tsx
  app/javascript/types/serializers/SurveyCrud.ts
  app/javascript/types/serializers/SurveyItemCrud.ts
  app/javascript/types/serializers/UserSurveyPivot.ts
  app/javascript/types/serializers/index.ts
  app/models/survey.rb
  app/resources/survey/item_crud_resource.rb
  app/resources/survey_crud_resource.rb
  db/migrate/20250428205159_add_survey_item_to_surveys.rb
  db/schema.rb
  package-lock.json
  package.json
  sorbet/rbi/gems/aws-partitions@1.1093.0.rbi
  sorbet/rbi/gems/aws-sdk-core@3.222.3.rbi
  sorbet/rbi/gems/aws-sdk-s3@1.184.0.rbi
  sorbet/rbi/gems/blazer@3.3.0.rbi
  sorbet/rbi/gems/chartkick@5.1.5.rbi
  sorbet/rbi/gems/connection_pool@2.5.3.rbi
  sorbet/rbi/gems/rubocop@1.75.4.rbi
  sorbet/rbi/gems/safely_block@0.4.1.rbi
  test/factories/surveys.rb
  test/fixtures/surveys.yml
  test/models/survey_test.rb
Due: bundle exec rubocop --force-exclusion

add study-plan survey (based on goal)
  app/controllers/api/lessons_controller.rb
  app/controllers/concerns/auth_concern.rb
  app/controllers/web/admin/surveys_controller.rb
  app/controllers/web/application_controller.rb
  app/controllers/web/languages/lessons_controller.rb
  app/controllers/web/users_controller.rb
  app/events/CourseFinishedEvent.rb
  app/events/CourseStartedEvent.rb
  app/events/EmailConfirmedEvent.rb
  app/events/LessonFinishedEvent.rb
  app/events/LessonStartedEvent.rb
  app/events/SolutionCheckedEvent.rb
  app/events/UserSignedInEvent.rb
  app/events/UserSignedUpEvent.rb
  app/events/course_finished_event.rb
  app/events/course_started_event.rb
  app/events/email_confirmed_event.rb
  app/events/lesson_finished_event.rb
  app/events/lesson_started_event.rb
  app/events/solution_checked_event.rb
  app/events/user_signed_in_event.rb
  app/events/user_signed_up_event.rb
  app/handlers/survey_handler.rb
  app/javascript/pages/web/admin/surveys/new.tsx
  app/lib/typed_event.rb
  app/models/survey.rb
  app/models/user_survey_pivot.rb
  db/migrate/20250428133219_create_user_survey_pivots.rb
  db/schema.rb
  db/sqls/user_survey_pivot.sql
  sorbet/rbi/gems/blazer@3.3.0.rbi
  sorbet/rbi/gems/chartkick@5.1.5.rbi
  sorbet/rbi/gems/safely_block@0.4.1.rbi
  sorbet/tapioca/require.rb
  test/factories/user_survey_pivots.rb
  test/fixtures/survey/items.yml
  test/fixtures/surveys.yml
  test/models/user_survey_pivot_test.rb
Due: bundle exec rubocop --force-exclusion

fix errors
  app/controllers/api/lessons_controller.rb
  app/controllers/concerns/survey_concern.rb
  app/controllers/web/application_controller.rb
  app/handlers/survey_handler.rb
  app/models/survey.rb
Due: bundle exec rubocop --force-exclusion

add study-plan to analytics/surveys
  app/javascript/pages/web/admin/analytics/surveys.tsx
  app/javascript/types/serializers/UserSurveyPivot.ts
  app/resources/user_survey_pivot_resource.rb
  db/sqls/user_survey_pivot.sql
  test/fixtures/survey/answers.yml
  test/fixtures/survey/items.yml
Due: bundle exec rubocop --force-exclusion

count and cache messages for every user
  app/javascript/pages/web/admin/management/users/index.tsx
  app/javascript/types/serializers/User.ts
  app/jobs/assistants/run_job.rb
  app/models/guest.rb
  app/models/language/lesson/member/message.rb
  app/models/user.rb
  app/resources/user_resource.rb
  db/migrate/20250429015901_add_assistant_messages_count_to_users.rb
  db/migrate/20250429020232_add_user_to_language_lesson_member_messages.rb
  db/migrate/20250429020324_populate_user_in_messages.rb
  db/schema.rb
  test/factories/language/lesson/member/messages.rb
  test/factories/users.rb
  test/fixtures/language/lesson/member/messages.yml
  test/fixtures/users.yml
  test/models/language/lesson/member/message_test.rb
Due: bundle exec rubocop --force-exclusion

update workflows
  .github/workflows/pullrequest.yml
  .github/workflows/push.yml
Due: none

use replica from master on env
  ansible/templates/secrets.auto.tfvars.j2
Due: none
