Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop --force-exclusion",
  "**/*.scss": "npx stylelint",
  "**/*.js?(x)": "npx eslint",
  "**/*.html.slim": "bundle exec slim-lint"
}

create network and prepare database for application
  ansible/production/group_vars/all/vault.yml
  ansible/templates/timeweb.secrets.auto.tfvars.j2
  ansible/terraform.yml
  terraform/timeweb/databases.tf
  terraform/timeweb/variables.tf
  terraform/timeweb/vpc.tf
Due: none

setup backups for postgresql cluster
  terraform/timeweb/databases.tf
Due: none

update postgresql client to verson 16 & update postgresql for dev
  Dockerfile
  Dockerfile.production
  docker-compose.override.yml
  docker-compose.yml
Due: none

:rocket: deploy
  k8s/hb-app-chart/values.yaml
Due: none

show custom message for 500 & disable exercises during transfering
  app/controllers/web/languages/lessons_controller.rb
  app/views/web/errors/server_error.html.slim
  app/views/web/languages/lessons/show.html.slim
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint

create redis cluster on twc
  terraform/timeweb/databases.tf
Due: none

change redis server configuration
  terraform/timeweb/databases.tf
Due: none

add credentials for readonly user
  ansible/production/group_vars/all/vault.yml
  ansible/templates/timeweb.secrets.auto.tfvars.j2
Due: none

create user with readonly rights in twc postgresql cluster
  terraform/timeweb/databases.tf
Due: none

prepare k8s cluster on twc
  terraform/timeweb/kubernetes.tf
Due: none

increase nodes count to 3 in cluster
  terraform/timeweb/kubernetes.tf
Due: none

fix terraform resources names
  terraform/timeweb/databases.tf
Due: none

setup secrets to new kubernetes cluster
  ansible/production/group_vars/all/vars.yml
  ansible/production/group_vars/all/vault.yml
  ansible/templates/secrets.auto.tfvars.j2
  ansible/templates/timeweb.secrets.auto.tfvars.j2
  terraform/timeweb/.terraform.lock.hcl
  terraform/timeweb/kubernetes_secrets.tf
  terraform/timeweb/main.tf
  terraform/timeweb/variables.tf
  terraform/variables.tf
Due: none

show custom message for 500 & disable exercises during transfering (#461)
  app/controllers/web/languages/lessons_controller.rb
  app/views/web/errors/server_error.html.slim
  app/views/web/languages/lessons/show.html.slim
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint

Revert "show custom message for 500 & disable exercises during transfering (#461)"
  app/controllers/web/languages/lessons_controller.rb
  app/views/web/errors/server_error.html.slim
  app/views/web/languages/lessons/show.html.slim
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint

deploy app to new kube cluster
  Makefile
  k8s-twc/Makefile
  k8s-twc/app-chart/.helmignore
  k8s-twc/app-chart/Chart.yaml
  k8s-twc/app-chart/templates/console.deployment.yaml
  k8s-twc/app-chart/templates/cron/refresh_sitemap.yml
  k8s-twc/app-chart/templates/ingress.yaml
  k8s-twc/app-chart/templates/job.deployment.yaml
  k8s-twc/app-chart/templates/web.deployment.yaml
  k8s-twc/app-chart/templates/web.service.yaml
  k8s-twc/app-chart/values.yaml
  k8s-twc/datadog-values.yaml
  k8s-twc/docker-installer.daemonset.yaml
Due: none

stop jobs on old kube cluster
  k8s/Makefile
  k8s/hb-app-chart/templates/console.deployment.yaml
  k8s/hb-app-chart/templates/cron/refresh_sitemap.yml
  k8s/hb-app-chart/templates/job.deployment.yaml
Due: none

switch cloudflare to new cluster
  ansible/production/group_vars/all/vault.yml
  terraform/cloudflare.tf
  terraform/main.tf
  terraform/variables.tf
Due: none

add auto comit after deploy
  k8s-twc/Makefile
Due: none

improve dns records and redirects for domain
  terraform/cloudflare.tf
Due: none

remove resources from do
  .gitignore
  k8s/hb-app-chart/templates/deployment.yaml
  k8s/hb-app-chart/templates/service.yaml
  terraform/.terraform.lock.hcl
  terraform/datasource.tf
  terraform/main.tf
  terraform/outputs.tf
  terraform/providers.tf
  terraform/secrets.tf
  terraform/timeweb/databases.tf
Due: none

remove old k8s config
  Makefile
  k8s-twc/Makefile
  k8s/Makefile
  k8s/app-chart/.helmignore
  k8s/app-chart/Chart.yaml
  k8s/app-chart/templates/console.deployment.yaml
  k8s/app-chart/templates/cron/refresh_sitemap.yml
  k8s/app-chart/templates/ingress.yaml
  k8s/app-chart/templates/job.deployment.yaml
  k8s/app-chart/templates/web.deployment.yaml
  k8s/app-chart/templates/web.service.yaml
  k8s/app-chart/values.yaml
  k8s/datadog-values.yaml
  k8s/docker-installer.daemonset.yaml
  k8s/hb-app-chart/.helmignore
  k8s/hb-app-chart/Chart.yaml
  k8s/hb-app-chart/templates/console.deployment.yaml
  k8s/hb-app-chart/templates/cron/refresh_sitemap.yml
  k8s/hb-app-chart/templates/deployment.yaml
  k8s/hb-app-chart/templates/job.deployment.yaml
  k8s/hb-app-chart/templates/service.yaml
  k8s/hb-app-chart/values.yaml
  terraform/timeweb/main.tf
Due: none

merge terraform states
  .gitignore
  ansible/production/group_vars/all/vault.yml
  ansible/templates/docker.config.json.j2
  ansible/templates/secrets.auto.tfvars.j2
  ansible/templates/timeweb.secrets.auto.tfvars.j2
  ansible/terraform.yml
  terraform/.terraform.lock.hcl
  terraform/Makefile
  terraform/cloudflare.tf
  terraform/databases.tf
  terraform/datasource.tf
  terraform/digitalocean.tf
  terraform/kubernetes.tf
  terraform/kubernetes_secrets.tf
  terraform/main.tf
  terraform/providers.tf
  terraform/timeweb/.terraform.lock.hcl
  terraform/timeweb/main.tf
  terraform/timeweb/variables.tf
  terraform/timeweb/versions.tf
  terraform/variables.tf
  terraform/versions.tf
  terraform/vpc.tf
Due: none

update cloudflare terraform provider
  terraform/.terraform.lock.hcl
  terraform/cloudflare.tf
  terraform/versions.tf
Due: none

add yandex terrafor production & change storage to keep sitemaps
  .gitignore
  ansible/development/group_vars/all/vault.yml
  ansible/production/group_vars/all/vault.yml
  ansible/templates/environment.j2
  ansible/templates/secrets.auto.tfvars.j2
  ansible/terraform.yml
  app/lib/configus.rb
  k8s/app-chart/templates/web.deployment.yaml
  services/web-nginx/files/docker-entrypoint.sh
  services/web-nginx/files/nginx.hexlet.basics.conf.template
  terraform/.terraform.lock.hcl
  terraform/main.tf
  terraform/outputs.tf
  terraform/variables.tf
  terraform/versions.tf
  terraform/yandex.tf
Due: bundle exec rubocop --force-exclusion

:rocket: deploy
  k8s/app-chart/values.yaml
Due: none

remove bucket on DO and DO terraform provider
  ansible/production/group_vars/all/vault.yml
  ansible/templates/secrets.auto.tfvars.j2
  terraform/.terraform.lock.hcl
  terraform/digitalocean.tf
  terraform/main.tf
  terraform/variables.tf
  terraform/versions.tf
Due: none

update readme
  README.md
Due: none

change nodes in kube cluster
  ansible/production/group_vars/all/vault.yml
  k8s/datadog-values.yaml
  terraform/cloudflare.tf
Due: none

add database monitoring by datadog
  ansible/production/group_vars/all/vault.yml
  ansible/templates/secrets.auto.tfvars.j2
  k8s/datadog-values.yaml
  terraform/databases.tf
  terraform/kubernetes.tf
  terraform/kubernetes_secrets.tf
Due: none

add firewall for databases
  terraform/vpc.tf
Due: none

change ip for domains
  terraform/cloudflare.tf
Due: none

fix service conditions link in registration form
  app/views/web/users/new.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint

add credentials for docker
  ansible/templates/docker.config.json.j2
  ansible/terraform.yml
  k8s/app-chart/templates/job.deployment.yaml
  terraform/kubernetes_secrets.tf
Due: none

hide disquss for ru users
  app/views/web/languages/lessons/show.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint

change hexlet community link
  app/lib/external_links.rb
Due: bundle exec rubocop --force-exclusion

remove community alert for en locale
  app/views/web/languages/lessons/show.html.slim
  config/locales/en.views.yml
Due: bundle exec slim-lint

Remove discuss block and improve discuss tab styles (#462)
  app/lib/external_links.rb
  app/views/web/languages/lessons/show.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint
