Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

improve layout
  app/javascript/pages/web/account/profiles/edit.tsx
Due: none

disable CC && PostHog
  app/javascript/lib/analytics.ts
Due: none

add link to tg community from ai-assistant
  Dockerfile
  app/controllers/web/application_controller.rb
  app/javascript/components/Chat.tsx
  app/javascript/locales.json
  app/javascript/pages/layouts/RootLayout.tsx
  app/javascript/pages/web/pages/parts/cookie_policy.ru.tsx
  app/lib/configus.rb
  app/views/layouts/application.html.erb
  config/locales/ru.views.yml
  package-lock.json
  package.json
Due: bundle exec rubocop --force-exclusion

add cases page
  app/controllers/web/cases_controller.rb
  app/javascript/entrypoints/application.scss
  app/javascript/images/for-school-teachers-page/discussion-icon.svg
  app/javascript/images/for-school-teachers-page/integration-icon.svg
  app/javascript/images/for-school-teachers-page/interactive-format-icon.svg
  app/javascript/images/for-school-teachers-page/languages-image-small.png
  app/javascript/images/for-school-teachers-page/languages-image.png
  app/javascript/images/for-school-teachers-page/practice-icon.svg
  app/javascript/locales.json
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
  app/javascript/pages/web/cases/for_school_teachers.tsx
  app/javascript/pages/web/cases/index.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  config/locales/en.layouts.yml
  config/locales/en.views.yml
  config/locales/ru.layouts.yml
  config/locales/ru.views.yml
  config/routes.rb
  test/system/pages_test.rb
Due: bundle exec rubocop --force-exclusion, npx stylelint

:rocket: deploy
  k8s/app-chart/values.yaml
Due: none

fixes
  app/controllers/web/cases_controller.rb
  app/javascript/locales.json
  app/javascript/pages/web/cases/for_school_teachers.tsx
  config/locales/en.links.yml
  config/locales/en.views.yml
  config/locales/ru.links.yml
  config/locales/ru.views.yml
  test/controllers/web/cases_controller_test.rb
Due: bundle exec rubocop --force-exclusion

add for school teachers page (#557)
  app/controllers/web/cases_controller.rb
  app/javascript/entrypoints/application.scss
  app/javascript/images/for-school-teachers-page/discussion-icon.svg
  app/javascript/images/for-school-teachers-page/integration-icon.svg
  app/javascript/images/for-school-teachers-page/interactive-format-icon.svg
  app/javascript/images/for-school-teachers-page/languages-image-small.png
  app/javascript/images/for-school-teachers-page/languages-image.png
  app/javascript/images/for-school-teachers-page/practice-icon.svg
  app/javascript/locales.json
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
  app/javascript/pages/web/cases/for_school_teachers.tsx
  app/javascript/pages/web/cases/index.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  config/locales/en.layouts.yml
  config/locales/en.links.yml
  config/locales/en.views.yml
  config/locales/ru.layouts.yml
  config/locales/ru.links.yml
  config/locales/ru.views.yml
  config/routes.rb
  test/controllers/web/cases_controller_test.rb
  test/system/pages_test.rb
Due: bundle exec rubocop --force-exclusion, npx stylelint

fix nav menu
  app/javascript/locales.json
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
  config/locales/en.layouts.yml
  config/locales/ru.layouts.yml
  config/locales/ru.views.yml
Due: none

improve case page styles
  app/javascript/entrypoints/application.scss
  app/javascript/pages/web/cases/for_school_teachers.tsx
Due: npx stylelint

change cases header link to dropdown
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
Due: none

improve analytics
  Gemfile.lock
  app/javascript/components/MarkdownViewer.tsx
  app/javascript/components/Root.tsx
  app/javascript/entrypoints/inertia.tsx
  app/javascript/lib/analytics.ts
  app/javascript/pages/layouts/RootLayout.tsx
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
  package-lock.json
  package.json
Due: none

prepare code for sending leads to amocrm
  app/events/lead_created_event.rb
  app/jobs/leads_to_amocrm_job.rb
  app/models/lead.rb
  app/serializers/WorkflowLeadSerializer.rb
  config/initializers/rails_event_store.rb
  test/controllers/web/account/profiles_controller_test.rb
Due: bundle exec rubocop --force-exclusion

fix analytics.js
  app/javascript/entrypoints/inertia.tsx
  app/javascript/pages/layouts/RootLayout.tsx
Due: none

change assistant from 24 hours to today count
  app/javascript/locales.json
  app/policies/language/lesson/member/message_policy.rb
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion

update survey resource
  app/resources/survey_resource.rb
Due: bundle exec rubocop --force-exclusion

add more events to js
  app/controllers/web/account/profiles_controller.rb
  app/controllers/web/languages/lessons_controller.rb
  app/controllers/web/users_controller.rb
  app/javascript/pages/layouts/RootLayout.tsx
  app/javascript/types/events.ts
Due: bundle exec rubocop --force-exclusion

update deps
  Gemfile
  Gemfile.lock
  package-lock.json
  package.json
  sorbet/rbi/gems/aggregate_root@2.16.0.rbi
  sorbet/rbi/gems/alba@3.7.0.rbi
  sorbet/rbi/gems/aws-partitions@1.1104.0.rbi
  sorbet/rbi/gems/aws-sdk-core@3.224.0.rbi
  sorbet/rbi/gems/aws-sdk-kms@1.101.0.rbi
  sorbet/rbi/gems/aws-sdk-s3@1.186.1.rbi
  sorbet/rbi/gems/bootsnap@1.18.6.rbi
  sorbet/rbi/gems/bullet@8.0.7.rbi
  sorbet/rbi/gems/cuprite@0.17.rbi
  sorbet/rbi/gems/ferrum@0.17.1.rbi
  sorbet/rbi/gems/json@2.12.0.rbi
  sorbet/rbi/gems/language_server-protocol@3.17.0.5.rbi
  sorbet/rbi/gems/loofah@2.24.1.rbi
  sorbet/rbi/gems/psych@5.2.6.rbi
  sorbet/rbi/gems/rails_event_store@2.16.0.rbi
  sorbet/rbi/gems/rails_event_store_active_record@2.16.0.rbi
  sorbet/rbi/gems/rbi@0.3.3.rbi
  sorbet/rbi/gems/rbs@3.9.4.rbi
  sorbet/rbi/gems/rubocop@1.75.6.rbi
  sorbet/rbi/gems/ruby-lsp-rails@0.4.3.rbi
  sorbet/rbi/gems/ruby-lsp@0.23.20.rbi
  sorbet/rbi/gems/ruby_event_store-active_record@2.16.0.rbi
  sorbet/rbi/gems/ruby_event_store-browser@2.16.0.rbi
  sorbet/rbi/gems/ruby_event_store@2.16.0.rbi
  sorbet/rbi/gems/sentry-rails@5.24.0.rbi
  sorbet/rbi/gems/sentry-ruby@5.24.0.rbi
  sorbet/rbi/gems/solid_cable@3.0.8.rbi
  sorbet/rbi/gems/spoom@1.6.3.rbi
  sorbet/rbi/gems/valid_email2@7.0.13.rbi
Due: none

fix events
  .env.sample
  Gemfile.lock
  app/controllers/concerns/event_concern.rb
  app/javascript/lib/analytics.ts
  app/javascript/pages/layouts/RootLayout.tsx
  package-lock.json
  package.json
Due: bundle exec rubocop --force-exclusion

add new surveys
  Gemfile.lock
  app/javascript/types/serializers/Survey.ts
  app/models/survey.rb
  package-lock.json
  package.json
  test/fixtures/language/members.yml
  test/fixtures/survey/items.yml
  test/fixtures/surveys.yml
Due: bundle exec rubocop --force-exclusion

fix message policy
  app/policies/language/lesson/member/message_policy.rb
Due: bundle exec rubocop --force-exclusion

improve landings
  Gemfile.lock
  app/controllers/web/users_controller.rb
  app/javascript/entrypoints/application.scss
  app/javascript/pages/layouts/AdminLayout.tsx
  app/javascript/pages/web/languages/show.tsx
  app/javascript/pages/web/users/new.tsx
  package-lock.json
  package.json
  test/fixtures/language/lesson/members.yml
  test/fixtures/language/members.yml
Due: bundle exec rubocop --force-exclusion, npx stylelint

improve profile form
  app/forms/user/profile_form.rb
  test/controllers/web/account/profiles_controller_test.rb
Due: bundle exec rubocop --force-exclusion

improve working with events
  Makefile
  app/javascript/components/BlogPostBlock.tsx
  app/javascript/components/CourseBlock.tsx
  app/javascript/components/breadcrumbs.tsx
  app/javascript/components/forms.tsx
  app/javascript/global.d.ts
  app/javascript/lib/analytics.ts
  app/javascript/lib/gon.ts
  app/javascript/pages/layouts/RootLayout.tsx
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
  app/javascript/pages/web/account/profiles/edit.tsx
  app/javascript/pages/web/admin/language_landing_pages/shared/menu.tsx
  app/javascript/pages/web/admin/languages/shared/menu.tsx
  app/javascript/pages/web/home/sitemap.tsx
  app/javascript/pages/web/my/show.tsx
  app/javascript/types/serializers/LanguageMember.ts
  app/models/language/member.rb
  app/models/user.rb
  app/resources/language/member_resource.rb
  app/views/layouts/application.html.erb
  config/environments/development.rb
  test/fixtures/language/lesson/members.yml
  test/fixtures/survey/answers.yml
  test/fixtures/survey/items.yml
Due: bundle exec rubocop --force-exclusion

fix test
  app/jobs/leads_to_amocrm_job.rb
  app/lib/n8n_client_stub.rb
Due: bundle exec rubocop --force-exclusion

update terraform k8s creds
  ansible/production/group_vars/all/vault.yml
  ansible/templates/secrets.auto.tfvars.j2
Due: none

update sorbet
  sorbet/rbi/dsl/active_support/test_case.rbi
  sorbet/rbi/dsl/user/profile_form.rbi
Due: none

send lead created event to n8n
  .env.sample
  Gemfile
  Gemfile.lock
  app/events/lead_created_event.rb
  app/jobs/application_job.rb
  app/jobs/leads_to_amocrm_job.rb
  app/lib/application_container.rb
  app/lib/n8n_client.rb
  app/lib/n8n_client_stub.rb
  app/models/lead.rb
  app/serializers/WorkflowLeadSerializer.rb
  app/serializers/workflow_lead_serializer.rb
  config/environments/development.rb
  sorbet/rbi/dsl/lead.rbi
  sorbet/rbi/dsl/leads_to_amocrm_job.rbi
  sorbet/rbi/gems/http-2@1.1.1.rbi
  sorbet/rbi/gems/httpx@1.4.4.rbi
Due: bundle exec rubocop --force-exclusion

update
  .env.sample
  app/jobs/application_job.rb
  app/jobs/leads_to_amocrm_job.rb
  app/lib/n8n_client.rb
  app/serializers/workflow_lead_serializer.rb
  package-lock.json
Due: bundle exec rubocop --force-exclusion

update sorbet
  sorbet/rbi/dsl/language/member.rbi
  sorbet/rbi/dsl/user.rbi
Due: none

fix test
  test/controllers/web/account/profiles_controller_test.rb
Due: bundle exec rubocop --force-exclusion

send lead created event to n8n (#564)
  .env.sample
  Gemfile
  Gemfile.lock
  ansible/production/group_vars/all/vault.yml
  ansible/templates/secrets.auto.tfvars.j2
  app/events/lead_created_event.rb
  app/jobs/leads_to_amocrm_job.rb
  app/lib/application_container.rb
  app/lib/n8n_client.rb
  app/lib/n8n_client_stub.rb
  app/models/lead.rb
  app/serializers/WorkflowLeadSerializer.rb
  app/serializers/workflow_lead_serializer.rb
  config/environments/development.rb
  package-lock.json
  sorbet/rbi/dsl/active_support/test_case.rbi
  sorbet/rbi/dsl/lead.rbi
  sorbet/rbi/dsl/leads_to_amocrm_job.rbi
  sorbet/rbi/dsl/user.rbi
  sorbet/rbi/dsl/user/profile_form.rbi
  sorbet/rbi/gems/http-2@1.1.1.rbi
  sorbet/rbi/gems/httpx@1.4.4.rbi
  test/controllers/web/account/profiles_controller_test.rb
Due: bundle exec rubocop --force-exclusion

fix breadcrumbs
  app/javascript/components/breadcrumbs.tsx
Due: none

Path conditions:
  bundle exec rubocop --force-exclusion: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint: any of: **/*.html.slim
