Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop --force-exclusion",
  "**/*.scss": "npx stylelint",
  "**/*.js?(x)": "npx eslint",
  "**/*.html.slim": "bundle exec slim-lint"
}

:rocket: deploy
  k8s/app-chart/values.yaml
Due: none

change languages/show logic
  app/javascript/pages/web/languages/show.tsx
Due: none

fix ransack params
  app/controllers/web/admin/messages_controller.rb
  app/controllers/web/application_controller.rb
Due: bundle exec rubocop --force-exclusion

improve styles
  app/javascript/components/AppAnchor.tsx
  app/javascript/components/Root.tsx
  app/javascript/entrypoints/application.scss
  app/javascript/lib/mantine.ts
  app/javascript/stylesheets/style.module.css
  app/javascript/stylesheets/style.module.css.d.ts
  app/javascript/stylesheets/theme.css
  package-lock.json
  package.json
  postcss.config.js
  postcss.config.ts
Due: npx stylelint

allow open pseudo link in a new tab
  app/javascript/components/AppAnchor.tsx
Due: none

fix remind password form
  app/forms/remind_password_form.rb
  app/resources/password_reminder_form_resource.rb
Due: bundle exec rubocop --force-exclusion

update deps
  Gemfile.lock
  package-lock.json
  package.json
Due: none

fix bundle config
  .bundle/config
Due: none

update deps
  Gemfile.lock
Due: none

improve ui
  Gemfile.lock
  app/javascript/components/LazyCodeHighlight.tsx
  app/javascript/components/MarkdownViewer.tsx
  app/javascript/components/Root.tsx
  app/javascript/entrypoints/application.scss
  app/javascript/lib/mantine.ts
  app/javascript/lib/shiki.ts
  app/javascript/pages/layouts/RootLayout.tsx
  app/javascript/pages/web/blog_posts/show.tsx
  app/javascript/pages/web/languages/lessons/show.tsx
  app/javascript/pages/web/languages/lessons/show/components/SolutionTab.tsx
  app/javascript/pages/web/languages/lessons/show/components/TestsTab.tsx
  app/lib/bash_runner.rb
  app/lib/docker_exercise_client.rb
  package-lock.json
  package.json
Due: bundle exec rubocop --force-exclusion, npx stylelint

fixes
  app/controllers/web/languages_controller.rb
  app/javascript/components/BlogPostBlock.tsx
  app/javascript/components/CourseBlock.tsx
  app/javascript/components/Elements/AppAnchor.tsx
  app/javascript/components/Root.tsx
  app/javascript/components/SignUpFormBlock.tsx
  app/javascript/components/breadcrumbs.tsx
  app/javascript/lib/mantine.ts
  app/javascript/lib/shiki.ts
  app/javascript/pages/layouts/blocks/FooterBlock.tsx
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
  app/javascript/pages/web/account/profiles/edit.tsx
  app/javascript/pages/web/admin/blog_posts/index.tsx
  app/javascript/pages/web/admin/home/index.tsx
  app/javascript/pages/web/admin/language_categories/index.tsx
  app/javascript/pages/web/admin/language_landing_pages/index.tsx
  app/javascript/pages/web/admin/language_lesson_members/index.tsx
  app/javascript/pages/web/admin/languages/index.tsx
  app/javascript/pages/web/admin/management/users/index.tsx
  app/javascript/pages/web/admin/messages/index.tsx
  app/javascript/pages/web/admin/reviews/index.tsx
  app/javascript/pages/web/admin/survey_scenarios/index.tsx
  app/javascript/pages/web/admin/surveys/index.tsx
  app/javascript/pages/web/blog_posts/show.tsx
  app/javascript/pages/web/home/sitemap.tsx
  app/javascript/pages/web/language_categories/index.tsx
  app/javascript/pages/web/languages/lessons/show/index.tsx
  app/javascript/pages/web/languages/show.tsx
  app/javascript/pages/web/languages/success.tsx
  app/javascript/pages/web/leads/new.tsx
  app/javascript/pages/web/my/show.tsx
  app/javascript/pages/web/remind_passwords/new.tsx
  app/javascript/pages/web/sessions/new.tsx
  app/javascript/types/mantine.ts
  app/jobs/find_related_courses_for_blog_post_job.rb
  app/models/blog_post.rb
Due: bundle exec rubocop --force-exclusion

update exercises fixtures
  test/fixtures/files/exercises/spec.yml
Due: none

update docker hub credentials
  ansible/production/group_vars/all/vault.yml
Due: none

add ghcr credentials
  ansible/production/group_vars/all/vault.yml
  ansible/templates/docker.config.json.j2
Due: none

fix language building result if commands failed
  app/lib/docker_exercise_client.rb
Due: bundle exec rubocop --force-exclusion

use ghcr for language building
  app/lib/docker_exercise_client.rb
  app/lib/docker_exercise_client_interface.rb
  app/lib/docker_exercise_client_stub.rb
  app/lib/exercise_loader.rb
  app/models/language/version.rb
  lib/tasks/exercises.rake
Due: bundle exec rubocop --force-exclusion

add md language for shiki
  app/javascript/lib/shiki.ts
Due: none

fix reseting user password
  app/controllers/web/passwords_controller.rb
  app/javascript/pages/web/passwords/edit.tsx
Due: bundle exec rubocop --force-exclusion

fix using resource class
  app/controllers/web/admin/management/users_controller.rb
Due: bundle exec rubocop --force-exclusion

fix select
  app/javascript/entrypoints/application.scss
  app/javascript/hooks/useAppForm.ts
  package-lock.json
  package.json
Due: npx stylelint

add swift
  app/javascript/lib/shiki.ts
Due: none

update deps
  package-lock.json
  package.json
Due: none

remove useless test
  test/controllers/web/scenarios_controller_test.rb
Due: bundle exec rubocop --force-exclusion

fix
  app/javascript/components/Elements/AppAnchor.tsx
Due: none

add new lib react-resizable-panels, add resizable content on the lesson show page
  app/javascript/pages/web/languages/lessons/show/index.tsx
  package-lock.json
  package.json
Due: none

add rust language
  app/javascript/lib/shiki.ts
Due: none

upd styles
  app/javascript/pages/web/languages/lessons/show/index.tsx
Due: none

improve ui
  Gemfile.lock
  app/controllers/web/languages_controller.rb
  app/javascript/components/XssContent.tsx
  app/javascript/pages/web/languages/lessons/show/components/OutputTab.tsx
  package-lock.json
  package.json
Due: bundle exec rubocop --force-exclusion

improve fixtures
  Rakefile
  app/lib/test_helpers.rb
  test/fixtures/blog_posts.yml
  test/fixtures/files/post-about-python.txt
Due: bundle exec rubocop --force-exclusion

fix related posts
  app/controllers/web/blog_posts_controller.rb
  app/javascript/locales.json
  app/jobs/application_job.rb
  app/jobs/find_related_courses_for_blog_post_job.rb
  app/models/blog_post/related_language_item.rb
  app/schemas/breadcrumb_list_schema.rb
  app/schemas/course_schema.rb
  app/schemas/faq_schema.rb
  app/schemas/item_list_schema.rb
  app/schemas/provider_schema.rb
  app/schemas/review_schema.rb
  config/application.rb
  config/environments/development.rb
  db/migrate/20250801182012_add_order_to_blog_post_related_language_items.rb
  db/schema.rb
  test/factories/blog_post/related_language_items.rb
  test/fixtures/blog_post/related_language_items.yml
  test/fixtures/language/category/items.yml
  test/fixtures/language/category/qna_items.yml
  test/fixtures/language/landing_page/qna_items.yml
  test/fixtures/language/landing_pages.yml
  test/models/blog_post/related_language_item_test.rb
Due: bundle exec rubocop --force-exclusion

change default sizes for the panels
  app/javascript/pages/web/languages/lessons/show/index.tsx
Due: none
