Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop --force-exclusion",
  "**/*.scss": "npx stylelint",
  "**/*.js?(x)": "npx eslint",
  "**/*.html.slim": "bundle exec slim-lint"
}

:rocket: deploy
  k8s/app-chart/values.yaml
Due: none

disable auth through github for ru locale
  app/views/web/shared/_via_social_networks.html.slim
Due: bundle exec slim-lint

add code hightlighting to blog posts & fix render blockquotes in md
  app/javascript/entrypoints/application.scss
  app/javascript/stylesheets/blog.scss
  app/views/web/blog_posts/show.html.slim
Due: npx stylelint, bundle exec slim-lint

create storage in cloud
  ansible/production/group_vars/all/vault.yml
  ansible/templates/secrets.auto.tfvars.j2
  terraform/variables.tf
  terraform/yandex.tf
Due: none

use storage in cloud for images
  app/lib/configus.rb
  config/environments/production.rb
  config/storage.yml
Due: bundle exec rubocop --force-exclusion

fix processing images for production
  Dockerfile.production
Due: none

fix error with show cover if post is not valid
  app/views/web/admin/blog_posts/_form.html.slim
Due: bundle exec slim-lint

update
  .gitignore
  app/javascript/components/Layout.tsx
  app/javascript/entrypoints/application.scss
  app/javascript/entrypoints/inertia.ts
  app/javascript/init.ts
  app/views/layouts/application.html.erb
  config/initializers/inertia_rails.rb
Due: bundle exec rubocop --force-exclusion, npx stylelint

update
  Makefile
  app/controllers/web/application_controller.rb
  app/controllers/web/home_controller.rb
  app/javascript/components/Layout.tsx
  app/javascript/pages/web/home/index.tsx
  app/javascript/types/serializers/Language.ts
  app/javascript/types/serializers/LanguageCategory.ts
  app/repositories/language_repository.rb
  app/resources/Language/CategoryResource.rb
  app/resources/LanguageResource.rb
  biome.json
Due: bundle exec rubocop --force-exclusion

disable auth through github for ru locale (#463)
  app/views/web/shared/_via_social_networks.html.slim
Due: bundle exec slim-lint

update
  app/controllers/web/application_controller.rb
  app/controllers/web/home_controller.rb
  app/controllers/web/users_controller.rb
  app/javascript/components/layouts/Application.tsx
  app/javascript/i18n.ts
  app/javascript/lib/forms.tsx
  app/javascript/locales.json
  app/javascript/locales/ru.js.json
  app/javascript/pages/web/home/index.tsx
  app/javascript/pages/web/users/new.tsx
  app/javascript/types/serializers/BlogPost.ts
  app/javascript/types/serializers/Review.ts
  app/javascript/types/serializers/User.ts
  app/javascript/types/serializers/index.ts
  app/javascript/types/types.d.ts
  app/models/guest.rb
  app/resources/BlogPostResource.rb
  app/resources/ReviewResource.rb
  app/resources/UserResource.rb
  config/locales/en.faq.yml
  config/locales/ru.faq.yml
  package-lock.json
  package.json
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
Due: bundle exec rubocop --force-exclusion

update
  Gemfile
  Gemfile.lock
  app/controllers/web/application_controller.rb
  app/controllers/web/blog_posts_controller.rb
  app/javascript/components/BlogPostBlock.tsx
  app/javascript/components/CourseBlock.tsx
  app/javascript/locales.json
  app/javascript/pages/layouts/Application.tsx
  app/javascript/pages/web/blog_posts/index.tsx
  app/javascript/pages/web/blog_posts/show.tsx
  app/javascript/pages/web/home/index.tsx
  app/resources/blog_post_resource.rb
  app/resources/language/category_resource.rb
  app/resources/language_resource.rb
  app/resources/pagy_resource.rb
  app/resources/review_resource.rb
  app/resources/user_resource.rb
  biome.json
  config/locales/ru.layouts.yml
  lib/faker_ext.rb
  package-lock.json
  package.json
  test/fixtures/blog_posts.yml
Due: bundle exec rubocop --force-exclusion

update
  app/controllers/web/application_controller.rb
  app/controllers/web/language_categories_controller.rb
  app/controllers/web/sessions_controller.rb
  app/javascript/components/CourseBlock.tsx
  app/javascript/components/forms.tsx
  app/javascript/locales.json
  app/javascript/pages/layouts/Application.tsx
  app/javascript/pages/web/blog_posts/index.tsx
  app/javascript/pages/web/blog_posts/show.tsx
  app/javascript/pages/web/home/index.tsx
  app/javascript/pages/web/language_categories/show.tsx
  app/javascript/pages/web/languages/show.tsx
  app/javascript/pages/web/pages/parts/about.ru.tsx
  app/javascript/pages/web/pages/show.tsx
  app/javascript/pages/web/reviews/index.tsx
  app/javascript/pages/web/sessions/new.tsx
  app/javascript/pages/web/users/new.tsx
  app/resources/sign_in_form_resource.rb
  app/resources/user_resource.rb
  config/locales/ru.activemodel.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion

update
  app/controllers/web/application_controller.rb
  app/controllers/web/home_controller.rb
  app/controllers/web/languages_controller.rb
  app/javascript/components/Flash.tsx
  app/javascript/entrypoints/application.scss
  app/javascript/pages/layouts/Application.tsx
  app/javascript/pages/web/blog_posts/index.tsx
  app/javascript/pages/web/blog_posts/show.tsx
  app/javascript/pages/web/home/index.tsx
  app/javascript/pages/web/language_categories/show.tsx
  app/javascript/pages/web/languages/show.tsx
  app/javascript/pages/web/pages/show.tsx
  app/javascript/pages/web/reviews/index.tsx
  app/javascript/pages/web/sessions/new.tsx
  app/javascript/pages/web/users/new.tsx
  app/javascript/types/serializers/BlogPost.ts
  app/javascript/types/serializers/Language.ts
  app/javascript/types/serializers/LanguageCategory.ts
  app/javascript/types/serializers/LanguageLesson.ts
  app/javascript/types/serializers/LanguageModule.ts
  app/javascript/types/serializers/Pagy.ts
  app/javascript/types/serializers/Review.ts
  app/javascript/types/serializers/SignInForm.ts
  app/javascript/types/serializers/User.ts
  app/javascript/types/serializers/index.ts
  app/javascript/types/types.d.ts
  app/models/language/module.rb
  app/resources/language/lesson_resource.rb
  app/resources/language/module_resource.rb
  app/resources/language_resource.rb
  config/routes.rb
  package-lock.json
  package.json
  test/fixtures/language/version/infos.yml
Due: bundle exec rubocop --force-exclusion, npx stylelint

update
  app/javascript/locales.json
  app/javascript/pages/layouts/Application.tsx
  app/javascript/pages/web/home/index.tsx
  app/javascript/types/serializers/BlogPost.ts
  app/javascript/types/serializers/Language.ts
  app/javascript/types/serializers/LanguageCategory.ts
  app/javascript/types/serializers/LanguageLesson.ts
  app/javascript/types/serializers/LanguageModule.ts
  app/javascript/types/serializers/Pagy.ts
  app/javascript/types/serializers/Review.ts
  app/javascript/types/serializers/SignInForm.ts
  app/javascript/types/serializers/User.ts
  app/javascript/types/serializers/index.ts
  app/javascript/types/types.d.ts
  config/locales/en.layouts.yml
  config/locales/en.views.yml
Due: none

update
  Gemfile
  Gemfile.lock
  app/controllers/web/application_controller.rb
  app/controllers/web/locales_controller.rb
  app/javascript/locales.json
  app/javascript/pages/layouts/Application.tsx
  app/javascript/pages/web/home/index.tsx
  app/javascript/types/types.d.ts
  config/locales/en.activemodel.yml
  config/routes.rb
  lib/app_host.rb
  test/fixtures/blog_posts.yml
Due: bundle exec rubocop --force-exclusion

update
  app/controllers/web/application_controller.rb
  app/controllers/web/language_categories_controller.rb
  app/controllers/web/languages_controller.rb
  app/javascript/pages/web/languages/show.tsx
  app/javascript/types/serializers/Language.ts
  app/javascript/types/serializers/LanguageCategory.ts
  app/javascript/types/serializers/LanguageLesson.ts
  app/javascript/types/serializers/LanguageModule.ts
  app/models/guest.rb
  app/models/language/category.rb
  app/models/language/lesson/version/info.rb
  app/repositories/user_repository.rb
  app/resources/language/category_resource.rb
  app/resources/language/lesson_resource.rb
  app/resources/language/module_resource.rb
  app/resources/language_resource.rb
  test/fixtures/language/lesson/version/infos.yml
  test/fixtures/language/lesson/versions.yml
  test/fixtures/language/lessons.yml
  test/fixtures/language/module/version/infos.yml
  test/fixtures/language/module/versions.yml
  test/fixtures/language/modules.yml
  test/fixtures/language/version/infos.yml
  test/fixtures/language/versions.yml
  test/fixtures/languages.yml
Due: bundle exec rubocop --force-exclusion

update
  app/controllers/web/languages_controller.rb
  app/javascript/components/BlogPostBlock.tsx
  app/javascript/components/CourseBlock.tsx
  app/javascript/pages/web/languages/show.tsx
  app/models/language.rb
  app/models/language/lesson/version.rb
  app/models/language/module/version/info.rb
  app/models/language/version.rb
  app/resources/language/lesson_resource.rb
  app/resources/language/module_resource.rb
  test/fixtures/language/module/version/infos.yml
Due: bundle exec rubocop --force-exclusion

update
  app/controllers/web/home_controller.rb
  app/controllers/web/languages_controller.rb
  app/javascript/locales.json
  app/javascript/pages/web/languages/show.tsx
  app/javascript/types/serializers/LanguageLesson.ts
  app/javascript/types/serializers/LanguageModule.ts
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion

update
  Makefile
  app/controllers/web/languages/lessons_controller.rb
  app/javascript/base.tsx
  app/javascript/entrypoints/application.scss
  app/javascript/entrypoints/inertia.ts
  app/javascript/pages/layouts/ApplicationLayout.tsx
  app/javascript/pages/layouts/LessonLayout.tsx
  app/javascript/pages/layouts/NavbarBlock.tsx
  app/javascript/pages/web/blog_posts/index.tsx
  app/javascript/pages/web/blog_posts/show.tsx
  app/javascript/pages/web/home/index.tsx
  app/javascript/pages/web/languages/lessons/show.tsx
  app/javascript/pages/web/languages/show.tsx
  app/javascript/pages/web/pages/show.tsx
  app/javascript/pages/web/reviews/index.tsx
  app/javascript/pages/web/sessions/new.tsx
  app/javascript/pages/web/users/new.tsx
  app/models/language/lesson.rb
  app/resources/language/lesson_resource.rb
  app/views/layouts/application.html.erb
  package-lock.json
  package.json
  test/fixtures/blog_posts.yml
Due: bundle exec rubocop --force-exclusion, npx stylelint

update
  app/controllers/web/languages/lessons_controller.rb
  app/javascript/components/breadcrumbs.tsx
  app/javascript/entrypoints/application.scss
  app/javascript/locales.json
  app/javascript/pages/layouts/LessonLayout.tsx
  app/javascript/pages/layouts/NavbarBlock.tsx
  app/javascript/pages/web/languages/lessons/show.tsx
  app/javascript/types/serializers/LanguageLesson.ts
  app/resources/language/lesson_resource.rb
  config/locales/ru.views.yml
  package-lock.json
  package.json
Due: bundle exec rubocop --force-exclusion, npx stylelint

update
  app/helpers/application_helper.rb
  app/javascript/entrypoints/application.scss
  app/javascript/i18n.ts
  app/javascript/lib/utils.ts
  app/javascript/pages/web/languages/lessons/show.tsx
  app/javascript/types/serializers/LanguageLesson.ts
  app/resources/language/lesson_resource.rb
  app/views/kaminari/_first_page.html.slim
  app/views/kaminari/_gap.html.slim
  app/views/kaminari/_last_page.html.slim
  app/views/kaminari/_next_page.html.slim
  app/views/kaminari/_page.html.slim
  app/views/kaminari/_paginator.html.slim
  app/views/kaminari/_prev_page.html.slim
Due: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

update
  Procfile.dev
  app/helpers/application_helper.rb
  app/javascript/pages/web/languages/lessons/show.tsx
  app/javascript/types/serializers/LanguageLesson.ts
  app/lib/external_links.rb
  app/resources/language/lesson_resource.rb
  bin/jobs
  config/database.yml
  config/environments/development.rb
  config/environments/production.rb
  config/queue.yml
  config/recurring.yml
  db/migrate/20250105160119_add_solid_queue.rb
  db/schema.rb
Due: bundle exec rubocop --force-exclusion

update
  app/controllers/web/languages/lessons_controller.rb
  app/javascript/components/XFlash.tsx
  app/javascript/components/XPaging.tsx
  app/javascript/components/XssContent.tsx
  app/javascript/entrypoints/application.scss
  app/javascript/locales.json
  app/javascript/pages/web/languages/lessons/show.tsx
  app/models/language/lesson/version.rb
  app/views/layouts/application.html.erb
  config/locales/ru.views.yml
  test/controllers/api/lessons_controller_test.rb
Due: bundle exec rubocop --force-exclusion, npx stylelint

update
  app/controllers/web/languages/lessons_controller.rb
  app/javascript/pages/web/blog_posts/index.tsx
  app/javascript/pages/web/languages/lessons/show.tsx
  app/javascript/pages/web/reviews/index.tsx
Due: bundle exec rubocop --force-exclusion

update
  Gemfile
  Gemfile.lock
  app/controllers/web/languages/lessons_controller.rb
  app/javascript/pages/layouts/NavbarBlock.tsx
  app/javascript/pages/lessons/index.jsx
  app/javascript/pages/web/languages/lessons/editor/EntityContext.js
  app/javascript/pages/web/languages/lessons/editor/components/App.jsx
  app/javascript/pages/web/languages/lessons/editor/components/ControlBox.jsx
  app/javascript/pages/web/languages/lessons/editor/components/Editor.jsx
  app/javascript/pages/web/languages/lessons/editor/components/HTMLPreview.jsx
  app/javascript/pages/web/languages/lessons/editor/components/Output.jsx
  app/javascript/pages/web/languages/lessons/editor/components/Solution.jsx
  app/javascript/pages/web/languages/lessons/editor/components/TabsBox.jsx
  app/javascript/pages/web/languages/lessons/editor/components/TestForExercise.jsx
  app/javascript/pages/web/languages/lessons/editor/index.tsx
  app/javascript/pages/web/languages/lessons/editor/slices/checkInfoSlice.js
  app/javascript/pages/web/languages/lessons/editor/slices/editorSlice.js
  app/javascript/pages/web/languages/lessons/editor/slices/index.js
  app/javascript/pages/web/languages/lessons/editor/slices/lessonSlice.js
  app/javascript/pages/web/languages/lessons/editor/slices/solutionSlice.js
  app/javascript/pages/web/languages/lessons/editor/slices/tabsBoxSlice.js
  app/javascript/pages/web/languages/lessons/editor/utils/configured_routes.js
  app/javascript/pages/web/languages/lessons/editor/utils/editorUtils.js
  app/javascript/pages/web/languages/lessons/editor/utils/languagesUtils.js
  app/javascript/pages/web/languages/lessons/editor/utils/maps.js
  app/javascript/pages/web/languages/lessons/editor/utils/monacoWorkers.js
  app/javascript/pages/web/languages/lessons/show.tsx
  app/javascript/types/serializers/LanguageLesson.ts
  app/javascript/types/serializers/LanguageLessonMember.ts
  app/javascript/types/serializers/index.ts
  app/models/language/lesson/member.rb
  app/resources/language/lesson/member_resource.rb
  app/resources/language/lesson_resource.rb
  app/views/layouts/application.html.erb
  config/environments/development.rb
  config/environments/test.rb
  package-lock.json
  package.json
Due: bundle exec rubocop --force-exclusion

update
  app/controllers/web/application_controller.rb
  app/controllers/web/languages_controller.rb
  app/javascript/entrypoints/inertia.tsx
  app/javascript/locales.json
  config/locales/ru.views.yml
  config/vite.json
Due: bundle exec rubocop --force-exclusion

update
  app/javascript/pages/layouts/LessonLayout.tsx
  app/javascript/pages/layouts/NavbarBlock.tsx
  app/javascript/pages/web/languages/lessons/show.tsx
  app/javascript/pages/web/languages/show.tsx
  app/resources/language/lesson_resource.rb
Due: bundle exec rubocop --force-exclusion

update
  app/javascript/entrypoints/inertia.tsx
  app/javascript/monaco.ts
  app/javascript/pages/web/blog_posts/show.tsx
  app/javascript/pages/web/languages/lessons/editor/EntityContext.js
  app/javascript/pages/web/languages/lessons/editor/components/TabsBox.jsx
  app/javascript/pages/web/languages/lessons/editor/components/TestForExercise.jsx
  app/javascript/pages/web/languages/lessons/editor/utils/monacoWorkers.js
  app/javascript/pages/web/languages/lessons/show.tsx
  app/javascript/pages/web/languages/lessons/show/components/App.tsx
  app/javascript/pages/web/languages/lessons/show/components/ControlBox.tsx
  app/javascript/pages/web/languages/lessons/show/components/Editor.tsx
  app/javascript/pages/web/languages/lessons/show/components/HTMLPreview.tsx
  app/javascript/pages/web/languages/lessons/show/components/Output.tsx
  app/javascript/pages/web/languages/lessons/show/components/Solution.tsx
  app/javascript/pages/web/languages/lessons/show/components/TabsBox.tsx
  app/javascript/pages/web/languages/lessons/show/components/TestForExercise.tsx
  app/javascript/pages/web/languages/lessons/show/index.tsx
  app/javascript/pages/web/languages/lessons/show/slices/checkInfoSlice.ts
  app/javascript/pages/web/languages/lessons/show/slices/editorSlice.ts
  app/javascript/pages/web/languages/lessons/show/slices/index.ts
  app/javascript/pages/web/languages/lessons/show/slices/lessonSlice.ts
  app/javascript/pages/web/languages/lessons/show/slices/solutionSlice.ts
  app/javascript/pages/web/languages/lessons/show/slices/tabsBoxSlice.ts
  app/javascript/pages/web/languages/lessons/show/types.ts
  app/javascript/pages/web/languages/lessons/show/utils/editorUtils.ts
  app/javascript/pages/web/languages/lessons/show/utils/languagesUtils.ts
  app/javascript/pages/web/languages/lessons/show/utils/maps.ts
  app/javascript/types/serializers/LanguageLesson.ts
  app/resources/language/lesson_resource.rb
  package-lock.json
  package.json
Due: bundle exec rubocop --force-exclusion

update
  app/javascript/entrypoints/inertia.tsx
  app/javascript/init.ts
  app/javascript/lib/hexlet-axios.js
  app/javascript/lib/utils.ts
  app/javascript/monaco.ts
  app/javascript/pages/web/languages/lessons/show/components/App.tsx
  app/javascript/pages/web/languages/lessons/show/components/ControlBox.tsx
  app/javascript/pages/web/languages/lessons/show/components/Editor.tsx
  app/javascript/pages/web/languages/lessons/show/components/Output.tsx
  app/javascript/pages/web/languages/lessons/show/components/Solution.tsx
  app/javascript/pages/web/languages/lessons/show/components/TabsBox.tsx
  app/javascript/pages/web/languages/lessons/show/index.tsx
  app/javascript/pages/web/languages/lessons/show/slices/checkInfoSlice.ts
  app/javascript/pages/web/languages/lessons/show/slices/solutionSlice.ts
  app/javascript/pages/web/languages/lessons/show/slices/tabsBoxSlice.ts
  app/javascript/pages/web/languages/lessons/show/utils/editorUtils.ts
  app/javascript/pages/web/languages/lessons/show/utils/languagesUtils.ts
  app/javascript/pages/web/languages/lessons/show/utils/maps.ts
  app/javascript/ssr/ssr.tsx
Due: none
