Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop --force-exclusion",
  "**/*.scss": "npx stylelint",
  "**/*.js?(x)": "npx eslint",
  "**/*.html.slim": "bundle exec slim-lint"
}

increase limit memory for build assets
  .npmrc
  Makefile
Due: none

try to limit using memory for ssr
  k8s/app-chart/templates/web.deployment.yaml
Due: none

:rocket: deploy
  k8s/app-chart/values.yaml
Due: none

run cable for staging
  Procfile.staging
Due: none

show extendeed memory stats
  app/javascript/ssr/ssr.tsx
Due: none

change limit for node heap
  k8s/app-chart/templates/web.deployment.yaml
Due: none

adjust memory limits for ssr
  k8s/app-chart/templates/web.deployment.yaml
Due: none

update deps
  Gemfile.lock
  package-lock.json
  package.json
Due: none

improve ux for network errors
  app/javascript/pages/web/languages/lessons/show/components/ControlBox.tsx
  app/javascript/pages/web/languages/lessons/show/store.tsx
  app/javascript/pages/web/languages/lessons/show/types.ts
Due: none

catch ActiveRecord::RecordNotUnique while user is creating
  app/controllers/web/users_controller.rb
Due: bundle exec rubocop --force-exclusion

fixes
  app/controllers/web/books_controller.rb
  app/controllers/web/passwords_controller.rb
Due: bundle exec rubocop --force-exclusion

collect postgres metrics with grafana alloy
  k8s/grafana-alloy-values.yaml
  terraform/kubernetes_secrets.tf
Due: none

improve config for grafana alloy
  k8s/grafana-alloy-values.yaml
Due: none

update timeout for liveness probes for web container
  k8s/app-chart/templates/web.deployment.yaml
Due: none

add cookieconsent
  app/javascript/entrypoints/application.scss
  app/javascript/locales/cookie_consent.ts
  app/javascript/pages/layouts/ApplicationLayout.tsx
  app/javascript/pages/layouts/blocks/FooterBlock.tsx
  package-lock.json
  package.json
Due: npx stylelint

improve footer
  app/javascript/pages/layouts/blocks/FooterBlock.tsx
Due: none

fix oxlint
  package-lock.json
  package.json
Due: none

update lock
  package-lock.json
Due: none

fix fixtures
  app/lib/docker_exercise_client.rb
  test/fixtures/language/lesson/version/infos.yml
  test/fixtures/language/versions.yml
Due: bundle exec rubocop --force-exclusion

update sorbet
  sorbet/rbi/dsl/active_support/test_case.rbi
Due: none

merge push and pr workflows & update node version
  .github/workflows/build.yml
  .github/workflows/push.yml
  README.md
Due: none

update setup staging command
  Makefile
Due: none

fix prerender courses menu
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
Due: none

add default state to models & fix test
  app/forms/admin/review_form.rb
  app/models/blog_post.rb
  app/models/review.rb
  app/models/survey/item.rb
  test/controllers/web/admin/reviews_controller_test.rb
Due: bundle exec rubocop --force-exclusion

update gem rbi
  sorbet/rbi/gems/aws-partitions@1.1117.0.rbi
  sorbet/rbi/gems/aws-sdk-core@3.226.0.rbi
Due: none

fix html
  app/javascript/components/BlogPostBlock.tsx
  app/javascript/components/CourseBlock.tsx
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
  app/javascript/pages/web/home/index.tsx
Due: none

fix calculating not passed lessons
  app/repositories/language/lesson_repository.rb
Due: bundle exec rubocop --force-exclusion

some improvements
  Gemfile.lock
  app/javascript/components/CourseBlock.tsx
  app/javascript/locales.json
  app/javascript/pages/layouts/ApplicationLayout.tsx
  app/javascript/pages/layouts/blocks/FooterBlock.tsx
  app/javascript/pages/web/home/index.tsx
  config/locales/ru.views.yml
  package.json
Due: none

fix downloading book
  app/javascript/components/SignUpFormBlock.tsx
  app/javascript/locales.json
  app/javascript/pages/web/books/show.tsx
  app/javascript/pages/web/sessions/new.tsx
  config/locales/ru.views.yml
Due: none

improve ui
  app/javascript/pages/web/home/index.tsx
Due: none

fix admin menu
  app/javascript/pages/layouts/AdminLayout.tsx
Due: none

improve performance
  app/javascript/lib/shiki.ts
  config/initializers/content_security_policy.rb
Due: bundle exec rubocop --force-exclusion
