Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

:rocket: deploy
  k8s/app-chart/values.yaml
Due: none

improve sign in/up forms
  Gemfile.lock
  app/javascript/components/SignUpFormBlock.tsx
  app/javascript/pages/web/sessions/new.tsx
  app/javascript/pages/web/users/new.tsx
  app/resources/review_crud_resource.rb
  app/resources/sign_in_form_resource.rb
  package-lock.json
  package.json
  test/fixtures/language/members.yml
  vite.config.ts
Due: bundle exec rubocop --force-exclusion

improve layout
  app/javascript/locales.json
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
  app/javascript/pages/web/languages/show.tsx
  app/javascript/pages/web/languages/success.tsx
  app/javascript/types/serializers/SignInForm.ts
  config/locales/ru.views.yml
  test/fixtures/language/lesson/members.yml
Due: none

fix test after update fixtures
  test/controllers/web/account/profiles_controller_test.rb
Due: bundle exec rubocop --force-exclusion

improve layout
  app/javascript/locales.json
  app/javascript/pages/layouts/blocks/ContactMethodRequestingBlock.tsx
  config/locales/ru.layouts.yml
Due: none

remove posthog code
  .env.sample
  .github/workflows/release.yml
  Dockerfile
  package-lock.json
  package.json
  vite.config.ts
Due: none

redirect from pre-courses to normal courses
  config/routes.rb
Due: bundle exec rubocop --force-exclusion

update gemfile.lock
  Gemfile.lock
Due: none

upda dockerfile
  Dockerfile
Due: none

fix dockerfile
  Dockerfile
  vite.config.ts
Due: none

close leads controller for guests
  Gemfile.lock
  app/controllers/web/leads_controller.rb
  k8s/app-chart/templates/ingress.yaml
Due: bundle exec rubocop --force-exclusion

fix lint
  app/controllers/web/leads_controller.rb
Due: bundle exec rubocop --force-exclusion

improve lead form
  app/controllers/web/account/profiles_controller.rb
  app/controllers/web/home_controller.rb
  app/javascript/components/LeadFormBlock.tsx
  app/javascript/components/forms.tsx
  app/javascript/locales.json
  app/javascript/pages/layouts/banners/tg_contest_banner/TgContestBanner.tsx
  app/javascript/pages/layouts/banners/tg_contest_banner/images/background.svg
  app/javascript/pages/layouts/banners/tg_contest_banner/images/pi-image.svg
  app/javascript/pages/layouts/banners/tg_contest_banner/tg-contest-banner.scss
  app/javascript/pages/web/account/profiles/edit.tsx
  app/javascript/pages/web/blog_posts/show.tsx
  app/javascript/pages/web/home/index.tsx
  app/javascript/pages/web/languages/show.tsx
  app/javascript/pages/web/languages/success.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  app/javascript/types/serializers/LeadCrud.ts
  app/javascript/types/serializers/SurveyCrud.ts
  app/javascript/types/serializers/SurveyItemCrud.ts
  app/jobs/assistants/run_job.rb
  app/lib/external_links.rb
  config/locales/ru.common.yml
  config/locales/ru.views.yml
  fixtures/vcr_cassettes/ai-lessons-messages-create.yml
  lib/tasks/app.rake
Due: bundle exec rubocop --force-exclusion, npx stylelint

update lead block
  .rubocop.yml
  app/javascript/components/XssContent.tsx
  app/javascript/locales.json
  app/javascript/pages/layouts/blocks/ContactMethodRequestingBlock.tsx
  app/javascript/pages/web/languages/lessons/show/index.tsx
  config/locales/ru.layouts.yml
  sorbet/rbi/gems/json@2.12.1.rbi
  sorbet/rbi/gems/ruby-lsp@0.23.22.rbi
Due: none

fix scss
  app/javascript/entrypoints/application.scss
Due: npx stylelint

restore syntax highlighting
  app/javascript/entrypoints/application.scss
Due: npx stylelint

redirect to lead form if needed
  app/controllers/web/application_controller.rb
  app/controllers/web/scenarios/surveys/answers_controller.rb
  app/models/user.rb
Due: bundle exec rubocop --force-exclusion

fix guest
  app/models/guest.rb
Due: bundle exec rubocop --force-exclusion

update deps
  Gemfile.lock
  sorbet/rbi/gems/aws-partitions@1.1107.0.rbi
  sorbet/rbi/gems/json@2.12.2.rbi
  sorbet/rbi/gems/ruby-lsp@0.23.23.rbi
  sorbet/rbi/gems/spoom@1.7.2.rbi
Due: none

update deps
  Gemfile.lock
  package-lock.json
  package.json
Due: none

improve lead form
  app/javascript/components/LeadFormBlock.tsx
  app/javascript/locales.json
  app/javascript/pages/web/languages/success.tsx
  app/javascript/pages/web/leads/new.tsx
  config/locales/ru.views.yml
Due: none

fix layout
  app/javascript/pages/web/home/index.tsx
Due: none

add setup for macos
  Makefile
Due: none

fix showing lead form
  Makefile
  app/controllers/web/application_controller.rb
  app/controllers/web/scenarios/surveys/answers_controller.rb
  app/forms/admin/survey_scenario_form.rb
  app/javascript/pages/web/admin/survey_scenarios/shared/form.tsx
  app/models/guest.rb
  app/models/survey/scenario/item.rb
  app/models/survey/scenario/member.rb
  app/models/user.rb
  app/resources/survey/scenario_item_crud_resource.rb
  db/migrate/20250526130500_add_order_to_survey_scenario_items.rb
  db/schema.rb
  test/factories/survey/scenario/items.rb
  test/fixtures/survey/answers.yml
  test/fixtures/survey/scenario/items.yml
  test/fixtures/survey/scenario/members.yml
  test/fixtures/users.yml
Due: bundle exec rubocop --force-exclusion

add ym client id
  app/controllers/web/leads_controller.rb
  app/events/lead_created_event.rb
  app/forms/lead_form.rb
  app/javascript/components/LeadFormBlock.tsx
  app/javascript/types/global.ts
  app/models/lead.rb
  app/resources/lead_crud_resource.rb
  app/views/layouts/application.html.erb
  db/migrate/20250526145537_add_ym_client_id_to_leads.rb
  db/schema.rb
  test/factories/leads.rb
  test/fixtures/leads.yml
  test/models/lead_test.rb
Due: bundle exec rubocop --force-exclusion

fix lead forms
  app/controllers/web/home_controller.rb
  app/controllers/web/leads_controller.rb
  app/javascript/components/LeadFormBlock.tsx
  app/resources/lead_resource.rb
Due: bundle exec rubocop --force-exclusion

send ym_uid to amocrm
  app/serializers/workflow_lead_serializer.rb
Due: bundle exec rubocop --force-exclusion

add lead form to languages/show
  app/controllers/web/languages_controller.rb
  app/javascript/pages/web/languages/show.tsx
Due: bundle exec rubocop --force-exclusion

add lead form to books/show
  app/controllers/web/books_controller.rb
  app/javascript/pages/web/books/show.tsx
  app/javascript/types/serializers/LeadCrud.ts
  app/javascript/types/serializers/SurveyScenarioItemCrud.ts
Due: bundle exec rubocop --force-exclusion

Path conditions:
  bundle exec rubocop --force-exclusion: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint: any of: **/*.html.slim
