Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

hide chat
  app/javascript/pages/web/languages/lessons/show.tsx
Due: none

move styles to css
  app/javascript/entrypoints/application.scss
  app/javascript/pages/web/languages/show.tsx
Due: npx stylelint

fix image loading
  app/javascript/types/serializers/LanguageCrud.ts
  app/lib/exercise_loader.rb
Due: bundle exec rubocop --force-exclusion

:rocket: deploy
  k8s/app-chart/values.yaml
Due: none

fix paging
  app/controllers/web/application_controller.rb
  app/javascript/pages/web/admin/blog_posts/index.tsx
  app/javascript/pages/web/admin/home/index.tsx
  app/javascript/pages/web/admin/language_categories/index.tsx
  app/javascript/pages/web/admin/language_landing_pages/index.tsx
  app/javascript/pages/web/admin/languages/index.tsx
  app/javascript/pages/web/admin/management/users/index.tsx
  app/javascript/pages/web/admin/reviews/index.tsx
  app/javascript/types/serializers/Grid.ts
  app/resources/grid_resource.rb
Due: bundle exec rubocop --force-exclusion

fix admin/languages/edit
  app/controllers/web/admin/languages_controller.rb
  app/javascript/pages/web/admin/languages/edit.tsx
Due: bundle exec rubocop --force-exclusion

add created_at to resources
  app/javascript/types/serializers/Language.ts
  app/resources/blog_post_resource.rb
  app/resources/language/category_resource.rb
  app/resources/language/landing_page_resource.rb
  app/resources/language_resource.rb
Due: bundle exec rubocop --force-exclusion

fix progress
  app/controllers/web/my_controller.rb
  app/javascript/types/serializers/BlogPost.ts
  app/javascript/types/serializers/LanguageCategory.ts
  app/javascript/types/serializers/LanguageLandingPage.ts
  app/resources/language/member_resource.rb
Due: bundle exec rubocop --force-exclusion

fix tests
  app/controllers/web/application_controller.rb
Due: bundle exec rubocop --force-exclusion

fix web scope
  app/repositories/language/landing_page_repository.rb
Due: bundle exec rubocop --force-exclusion

fix local for language/member#next_lesson_info
  app/models/language/lesson/member.rb
  app/models/language/member.rb
Due: bundle exec rubocop --force-exclusion

make sync
  app/javascript/types/serializers/BlogPost.ts
  app/javascript/types/serializers/Language.ts
  app/javascript/types/serializers/LanguageCategory.ts
  app/javascript/types/serializers/LanguageLandingPage.ts
Due: none

improve redirects from ru.code-basics.com to code-basics.com/ru
  services/web-nginx/files/nginx.hexlet.basics.conf.template
Due: none

fix next lesson for new members
  app/controllers/web/languages_controller.rb
Due: bundle exec rubocop --force-exclusion

improve footer
  Gemfile.lock
  app/controllers/web/application_controller.rb
  app/forms/admin/language_landing_page_form.rb
  app/javascript/locales.json
  app/javascript/pages/layouts/blocks/FooterBlock.tsx
  app/javascript/pages/web/admin/language_landing_pages/shared/form.tsx
  app/javascript/types/index.ts
  app/javascript/types/serializers/BlogPost.ts
  app/javascript/types/serializers/Language.ts
  app/javascript/types/serializers/LanguageCategory.ts
  app/javascript/types/serializers/LanguageLandingPage.ts
  app/javascript/types/serializers/LanguageLandingPageCrud.ts
  app/javascript/types/serializers/LanguageLandingPageForLists.ts
  app/models/language/landing_page.rb
  app/resources/language/landing_page_crud_resource.rb
  app/resources/language/landing_page_for_lists_resource.rb
  config/locales/ru.activerecord.yml
  config/locales/ru.layouts.yml
  db/migrate/20250325190304_add_footer_to_language_landing_pages.rb
  db/schema.rb
  package.json
  test/controllers/web/languages_controller_test.rb
  test/factories/language/landing_pages.rb
  test/fixtures/language/landing_pages.yml
  test/fixtures/languages.yml
Due: bundle exec rubocop --force-exclusion

remove old sitemap
  ansible/development/group_vars/all/vault.yml
  ansible/templates/environment.j2
  ansible/templates/secrets.auto.tfvars.j2
  k8s/app-chart/templates/cron/refresh_sitemap.yml
  k8s/app-chart/templates/web.deployment.yaml
  public/robots.txt
  services/web-nginx/Dockerfile
  services/web-nginx/files/docker-entrypoint.sh
  services/web-nginx/files/nginx.code-basics.conf
  terraform/yandex.tf
Due: none

fix npm
  package-lock.json
Due: none

update assistent
  app/controllers/ai/lessons/messages_controller.rb
  app/controllers/web/languages/lessons_controller.rb
  app/javascript/components/Chat.tsx
  app/javascript/locales.json
  app/javascript/pages/web/languages/lessons/show.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  app/javascript/types/serializers/Language.ts
  app/resources/language_resource.rb
  config/locales/ru.views.yml
  config/routes.rb
  package-lock.json
  package.json
  test/controllers/ai/lessons/messages_controller_test.rb
Due: bundle exec rubocop --force-exclusion

fix feed
  app/controllers/api/feeds_controller.rb
  app/lib/yandex_search_feed_builder.rb
Due: bundle exec rubocop --force-exclusion

fix size lang image on header
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
Due: none

improve new dynamic input layout
  app/javascript/components/forms.tsx
Due: none

fix docker config
  services/web-nginx/Dockerfile
Due: none

change program accordion lessons list styles (#535)
  app/javascript/entrypoints/application.scss
  app/javascript/images/course-landing-page/learning_en.mov
  app/javascript/images/course-landing-page/learning_en.mp4
  app/javascript/images/course-landing-page/learning_ru.mov
  app/javascript/images/course-landing-page/learning_ru.mp4
  app/javascript/pages/web/languages/show.tsx
Due: npx stylelint

fix root path for nginx
  services/web-nginx/files/nginx.code-basics.conf
Due: none

update sorbet
  sorbet/rbi/dsl/action_mailbox/inbound_email.rbi
  sorbet/rbi/dsl/action_mailbox/incineration_job.rbi
  sorbet/rbi/dsl/action_mailbox/routing_job.rbi
  sorbet/rbi/dsl/action_text/encrypted_rich_text.rbi
  sorbet/rbi/dsl/action_text/rich_text.rbi
  sorbet/rbi/dsl/active_support/test_case.rbi
  sorbet/rbi/dsl/admin/language_form.rbi
  sorbet/rbi/dsl/admin/language_landing_page_form.rbi
  sorbet/rbi/dsl/ai/application_controller.rbi
  sorbet/rbi/dsl/application_controller.rbi
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/language.rbi
  sorbet/rbi/dsl/language/landing_page.rbi
  sorbet/rbi/dsl/language/landing_page_for_lists_resource.rbi
  sorbet/rbi/dsl/language/lesson/member.rbi
  sorbet/rbi/dsl/web/admin/languages/application_controller.rbi
  sorbet/rbi/gems/rubocop-ast@1.43.0.rbi
  sorbet/rbi/gems/stringio@3.1.6.rbi
Due: none

fix: define backend config for nginx
  services/web-nginx/files/nginx.code-basics.conf
Due: none

temporarily hide qna on landing
  app/javascript/pages/web/languages/show.tsx
Due: none

fix qna
  Gemfile.lock
  app/controllers/web/admin/language_landing_pages_controller.rb
  app/javascript/components/forms.tsx
  app/javascript/locales.json
  app/javascript/pages/web/admin/language_landing_pages/shared/form.tsx
  config/locales/ru.activerecord.yml
Due: bundle exec rubocop --force-exclusion

fix instruction for the assistant
  app/controllers/ai/lessons/messages_controller.rb
Due: bundle exec rubocop --force-exclusion

update locale
  config/locales/ru.activerecord.yml
Due: none

fix forms
  app/javascript/pages/web/admin/language_landing_pages/shared/form.tsx
  config/locales/ru.activerecord.yml
Due: none

remove gis
  app/javascript/pages/web/languages/lessons/show.tsx
  package-lock.json
  package.json
Due: none

Path conditions:
  bundle exec rubocop --force-exclusion: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint: any of: **/*.html.slim
