Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop --force-exclusion",
  "**/*.scss": "npx stylelint",
  "**/*.js?(x)": "npx eslint",
  "**/*.html.slim": "bundle exec slim-lint"
}

restore storage terraform file
  terraform/yandex.tf
Due: none

:rocket: deploy
  k8s/app-chart/values.yaml
Due: none

fix ssr
  app/javascript/entrypoints/inertia.tsx
  app/javascript/init.ts
  app/javascript/ssr/ssr.tsx
Due: none

add recurring job
  config/recurring.yml
Due: none

add survey answers to admin
  app/controllers/web/admin/survey_answers_controller.rb
  app/javascript/locales.json
  app/javascript/pages/layouts/AdminLayout.tsx
  app/javascript/pages/web/admin/survey_answers/index.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  app/javascript/types/serializers/SurveyAnswer.ts
  app/javascript/types/serializers/index.ts
  app/models/survey/answer.rb
  app/resources/survey/answer_resource.rb
  config/locales/ru.layouts.yml
  config/locales/ru.views.yml
  config/routes.rb
  test/controllers/web/admin/survey_answers_controller_test.rb
Due: bundle exec rubocop --force-exclusion

remove cascade
  db/sqls/user_survey_pivot.sql
Due: none

change database user priviliges
  terraform/databases.tf
Due: none

update read only user/pass
  ansible/production/group_vars/all/vault.yml
  ansible/templates/secrets.auto.tfvars.j2
  terraform/databases.tf
Due: none

enable firewall to datalens
  terraform/vpc.tf
Due: none

fix ssr
  .env.sample
  Makefile
  Procfile.staging
  app/javascript/components/CourseBlock.tsx
  app/javascript/components/MarkdownViewer.tsx
  app/javascript/components/Root.tsx
  app/javascript/configure.ts
  app/javascript/entrypoints/application.scss
  app/javascript/entrypoints/inertia.tsx
  app/javascript/init.ts
  app/javascript/lib/markdown.ts
  app/javascript/pages/web/blog_posts/show.tsx
  app/javascript/pages/web/my/show.tsx
  app/javascript/ssr/ssr.tsx
  app/javascript/vite-env.d.ts
  app/models/language/landing_page.rb
  config/cable.yml
  config/database.yml
  config/environments/development.rb
  config/environments/staging.rb
  package-lock.json
  package.json
  test/fixtures/blog_posts.yml
  vite.config.ts
Due: bundle exec rubocop --force-exclusion, npx stylelint

improve icon
  app/javascript/pages/layouts/AdminLayout.tsx
Due: none

fix assistant
  app/controllers/ai/lessons/messages_controller.rb
Due: bundle exec rubocop --force-exclusion

add tests
  Gemfile
  Gemfile.lock
  app/controllers/ai/lessons/messages_controller.rb
  app/jobs/assistants/run_job.rb
  fixtures/vcr_cassettes/ai-lessons-messages-create.yml
  package-lock.json
  package.json
  sorbet/rbi/gems/aws-partitions@1.1094.0.rbi
  sorbet/rbi/gems/crack@1.0.0.rbi
  sorbet/rbi/gems/hashdiff@1.1.2.rbi
  sorbet/rbi/gems/net-imap@0.5.8.rbi
  sorbet/rbi/gems/rexml@3.4.1.rbi
  sorbet/rbi/gems/vcr@6.3.1.rbi
  sorbet/rbi/gems/webmock@3.25.1.rbi
  sorbet/tapioca/require.rb
  test/controllers/ai/lessons/messages_controller_test.rb
  test/fixtures/languages.yml
  test/test_helper.rb
Due: bundle exec rubocop --force-exclusion

improve assistant
  Gemfile
  Gemfile.lock
  app/controllers/ai/application_controller.rb
  app/controllers/ai/lessons/messages_controller.rb
  app/controllers/application_controller.rb
  app/controllers/web/languages/lessons_controller.rb
  app/javascript/components/Chat.tsx
  app/javascript/hooks/useAssistantStream.ts
  app/javascript/locales.json
  app/javascript/pages/web/admin/messages/index.tsx
  app/javascript/pages/web/languages/lessons/show/index.tsx
  app/javascript/pages/web/languages/lessons/show/types.ts
  app/javascript/types/serializers/LanguageLessonMemberMessage.ts
  app/policies/application_policy.rb
  app/policies/language/lesson/member/message_policy.rb
  app/resources/language/lesson/member/message_resource.rb
  config/locales/ru.views.yml
  sorbet/rbi/gems/pundit@2.5.0.rbi
Due: bundle exec rubocop --force-exclusion

hotfix assistant
  app/controllers/web/languages/lessons_controller.rb
  app/models/guest.rb
Due: bundle exec rubocop --force-exclusion

guests cannot create a message
  app/policies/language/lesson/member/message_policy.rb
  test/controllers/web/languages/lessons_controller_test.rb
Due: bundle exec rubocop --force-exclusion

fix ifs order
  app/javascript/components/Chat.tsx
Due: none

focus when chose assistant's tab
  Makefile
  app/javascript/components/Chat.tsx
  app/javascript/pages/web/languages/lessons/show/index.tsx
Due: none

fix running recurring job
  app/jobs/refresh_user_survey_pivot_job.rb
  config/recurring.yml
Due: bundle exec rubocop --force-exclusion

update sorbet
  sorbet/rbi/dsl/active_support/test_case.rbi
  sorbet/rbi/dsl/admin/survey_form.rbi
  sorbet/rbi/dsl/ai/application_controller.rbi
  sorbet/rbi/dsl/application_controller.rbi
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/language/lesson.rbi
  sorbet/rbi/dsl/refresh_user_survey_pivot_job.rbi
  sorbet/rbi/dsl/survey.rbi
  sorbet/rbi/dsl/survey/answer.rbi
  sorbet/rbi/dsl/survey/item.rbi
  sorbet/rbi/dsl/user.rbi
  sorbet/rbi/dsl/user/password_form.rbi
  sorbet/rbi/dsl/user/profile_form.rbi
  sorbet/rbi/dsl/user/sign_up_form.rbi
  sorbet/rbi/dsl/user/social_signup_form.rbi
  sorbet/rbi/dsl/user_survey_pivot.rbi
  sorbet/rbi/dsl/web/admin/languages/application_controller.rbi
Due: none

fix system tests
  package-lock.json
  package.json
  test/application_system_test_case.rb
  test/test_helper.rb
Due: bundle exec rubocop --force-exclusion

fix fixtures
  app/controllers/web/surveys_controller.rb
  test/fixtures/survey/items.yml
Due: bundle exec rubocop --force-exclusion

add surveys
  app/handlers/survey_handler.rb
  test/fixtures/survey/items.yml
  test/fixtures/surveys.yml
Due: bundle exec rubocop --force-exclusion

udpate surveys
  app/handlers/survey_handler.rb
  test/fixtures/survey/items.yml
  test/fixtures/surveys.yml
Due: bundle exec rubocop --force-exclusion

update surveys funnel
  app/handlers/survey_handler.rb
  test/fixtures/survey/answers.yml
  test/fixtures/survey/items.yml
  test/fixtures/surveys.yml
Due: bundle exec rubocop --force-exclusion

ignore capybara connection requests by vcr
  test/test_helper.rb
Due: bundle exec rubocop --force-exclusion

allow html rendering
  app/javascript/components/MarkdownViewer.tsx
Due: none

some fixes
  Gemfile.lock
  app/javascript/components/Chat.tsx
  app/javascript/locales.json
  config/locales/ru.views.yml
  config/recurring.yml
  test/fixtures/language/lesson/version/infos.yml
  test/fixtures/survey/items.yml
Due: none

fix xss
  app/javascript/components/MarkdownViewer.tsx
  app/javascript/hooks/useAssistantStream.ts
  app/javascript/pages/web/blog_posts/show.tsx
  app/javascript/pages/web/languages/lessons/show/index.tsx
  test/fixtures/language/lesson/member/messages.yml
  test/fixtures/languages.yml
Due: none

improve success page
  app/javascript/pages/web/languages/show.tsx
  app/javascript/pages/web/languages/success.tsx
Due: none

move "my" to start
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
Due: none

update deps
  Gemfile.lock
Due: none
