Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop --force-exclusion",
  "**/*.scss": "npx stylelint",
  "**/*.js?(x)": "npx eslint",
  "**/*.html.slim": "bundle exec slim-lint"
}

show competition banner on home page
  app/assets/images/decor.svg
  app/javascript/entrypoints/competition_banner.js
  app/views/layouts/_competition_banner.html.slim
  app/views/layouts/application.html.slim
Due: bundle exec slim-lint

fix conditions
  app/controllers/web/home_controller.rb
  app/views/layouts/application.html.slim
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint

update
  Gemfile.lock
  app/controllers/web/language_categories_controller.rb
  app/models/guest.rb
  package-lock.json
  package.json
Due: bundle exec rubocop --force-exclusion

fix github workflow
  .github/workflows/push.yml
Due: none

use ruby 3.2.1
  .ruby-version
Due: none

fix workflow
  .github/workflows/push.yml
  .ruby-version
Due: none

fix github workflow
  .github/workflows/push.yml
  Gemfile.lock
Due: none

auto generate routes and serializers
  .gitignore
  app/javascript/routes.d.ts
  app/javascript/routes.js
  app/javascript/types/serializers/BlogPost.ts
  app/javascript/types/serializers/Grid.ts
  app/javascript/types/serializers/Language.ts
  app/javascript/types/serializers/LanguageCategory.ts
  app/javascript/types/serializers/LanguageLesson.ts
  app/javascript/types/serializers/LanguageLessonMember.ts
  app/javascript/types/serializers/LanguageMember.ts
  app/javascript/types/serializers/LanguageModule.ts
  app/javascript/types/serializers/OriginalLanguage.ts
  app/javascript/types/serializers/Pagy.ts
  app/javascript/types/serializers/PasswordReminder.ts
  app/javascript/types/serializers/Review.ts
  app/javascript/types/serializers/SignInForm.ts
  app/javascript/types/serializers/User.ts
  app/javascript/types/serializers/UserPassword.ts
  app/javascript/types/serializers/UserProfileForm.ts
  app/javascript/types/serializers/UserSignUpForm.ts
  app/javascript/types/serializers/index.ts
Due: none

disable assets compression
  app/javascript/routes.d.ts
  app/javascript/routes.js
  vite.config.ts
Due: none

update readme
  README.md
Due: none

update github workflows
  .github/workflows/pullrequest.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
  services/caddy/Caddyfile
Due: none

some fixes
  README.md
  app/controllers/web/application_controller.rb
  app/controllers/web/languages_controller.rb
  app/javascript/locales.json
  app/javascript/pages/layouts/ApplicationLayout.tsx
  app/javascript/pages/web/pages/show.tsx
  app/javascript/pages/web/reviews/index.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  app/models/language/lesson/version/info.rb
  app/repositories/language/version/info_repository.rb
  app/resources/language/lesson_resource.rb
  config/locales/ru.views.yml
  db/migrate/20250122011027_change_type_for_language_lesson_id_in_language_lesson_version_infos.rb
  db/schema.rb
  test/fixtures/language/lesson/version/infos.yml
  test/fixtures/language/lesson/versions.yml
  test/fixtures/language/lessons.yml
  test/fixtures/language/module/version/infos.yml
  test/fixtures/language/module/versions.yml
  test/fixtures/language/modules.yml
  test/fixtures/language/version/infos.yml
  test/fixtures/languages.yml
Due: bundle exec rubocop --force-exclusion

show user progress
  app/controllers/web/languages/lessons_controller.rb
  app/controllers/web/languages_controller.rb
  app/javascript/locales.json
  app/javascript/pages/web/languages/lessons/show.tsx
  app/javascript/pages/web/languages/lessons/show/index.tsx
  app/javascript/pages/web/languages/lessons/show/slices/RootSlice.ts
  app/javascript/pages/web/languages/lessons/show/slices/index.ts
  app/javascript/pages/web/languages/show.tsx
  app/javascript/types/serializers/LanguageLesson.ts
  app/models/guest.rb
  config/locales/ru.views.yml
  package-lock.json
  package.json
Due: bundle exec rubocop --force-exclusion

fix condition
  app/controllers/web/home_controller.rb
  app/views/layouts/application.html.slim
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint

:rocket: deploy
  k8s/app-chart/values.yaml
Due: none

configure sentry for frontend
  Gemfile.lock
  README.md
  app/javascript/entrypoints/inertia.tsx
  package-lock.json
  package.json
Due: none

enable sentry for backend
  Gemfile
  Gemfile.lock
Due: none

update deps
  .gitignore
  Gemfile
  Gemfile.lock
  Makefile
  README.md
  app/views/api/languages/index.json.jbuilder.bak
  app/views/api/languages/lessons/index.json.jbuilder.bak
  app/views/api/languages/lessons/show.json.jbuilder.bak
  app/views/api/languages/show.json.jbuilder.bak
  app/views/api/partners/yandex_market/languages/index.yml.builder
  config/initializers/simple_form.rb
  config/initializers/simple_form_bootstrap.rb
  package-lock.json
  package.json
  test/test_helper.rb
Due: bundle exec rubocop --force-exclusion

some fixes
  README.md
  app/javascript/locales.json
  app/javascript/pages/layouts/ApplicationLayout.tsx
  app/javascript/pages/web/languages/show.tsx
  app/lib/configus.rb
  config/application.rb
  config/environments/development.rb
  config/locales/ru.activemodel.yml
  lib/app_host.rb
Due: bundle exec rubocop --force-exclusion

fix views
  Gemfile
  Gemfile.lock
  app/controllers/web/language_categories_controller.rb
  app/controllers/web/reviews_controller.rb
  app/javascript/locales.json
  app/javascript/pages/layouts/ApplicationLayout.tsx
  app/javascript/pages/web/blog_posts/index.tsx
  app/javascript/pages/web/blog_posts/show.tsx
  app/javascript/pages/web/language_categories/show.tsx
  app/javascript/pages/web/languages/show.tsx
  app/javascript/pages/web/reviews/index.tsx
  config/locales/en.common.yml
  config/locales/en.views.yml
  config/locales/ru.common.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion

prepare pages
  app/javascript/pages/layouts/ApplicationLayout.tsx
  app/javascript/pages/web/pages/parts/cookie_policy.en.tsx
  app/javascript/pages/web/pages/parts/privacy.en.tsx
  app/javascript/pages/web/pages/parts/tos.en.tsx
Due: none

improve forms
  README.md
  app/controllers/concerns/event_concern.rb
  app/controllers/web/admin/reviews_controller.rb
  app/controllers/web/reviews_controller.rb
  app/helpers/api/languages/lessons_helper.rb
  app/helpers/api/languages_helper.rb
  app/helpers/application_helper.rb
  app/helpers/language_categories_helper.rb
  app/helpers/model_helper.rb
  app/helpers/packs_helper.rb
  app/helpers/reviews_helper.rb
  app/helpers/web/admin/api/users_helper.rb
  app/helpers/web/admin/blog_posts_helper.rb
  app/helpers/web/admin/reviews_helper.rb
  app/helpers/web/blog_posts_helper.rb
  app/javascript/components/forms.tsx
  app/javascript/lib/utils.ts
  app/javascript/locales.json
  app/javascript/pages/layouts/NavbarBlock.tsx
  app/javascript/pages/web/admin/blog_posts/shared/form.tsx
  app/javascript/pages/web/admin/management/users/edit.tsx
  app/javascript/pages/web/admin/management/users/index.tsx
  app/javascript/pages/web/admin/management/users/shared/menu.tsx
  app/javascript/pages/web/admin/reviews/edit.tsx
  app/javascript/pages/web/admin/reviews/index.tsx
  app/javascript/pages/web/admin/reviews/new.tsx
  app/javascript/pages/web/admin/reviews/shared/form.tsx
  app/models/language.rb
  app/presenters/language_presenter.rb
  app/resources/blog_post_resource.rb
  app/resources/review_resource.rb
  app/serializers/user_serializer.rb
  config/initializers/vite.rb
  config/locales/en.activerecord.yml
  config/locales/en.common.yml
  config/locales/en.views.yml
  config/locales/ru.common.yml
  config/locales/ru.flash.yml
  test/controllers/web/blog_posts_controller_test.rb
Due: bundle exec rubocop --force-exclusion

fix tests
  .env.test
  .gitignore
  app/controllers/concerns/event_concern.rb
Due: bundle exec rubocop --force-exclusion

fix github/workflow
  .github/workflows/push.yml
Due: none

update vite config
  app/javascript/routes.d.ts
  app/javascript/routes.js
  config/vite.json
Due: none

update deps
  Gemfile.lock
  package-lock.json
  package.json
Due: none

fix admin/languages
  Gemfile.lock
  README.md
  app/javascript/lib/utils.ts
  app/javascript/locales.json
  app/javascript/pages/web/admin/languages/shared/form.tsx
  app/javascript/pages/web/admin/languages/shared/menu.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  app/javascript/types/serializers/BlogPost.ts
  app/javascript/types/serializers/Review.ts
  app/models/language.rb
  app/models/language/member.rb
  app/repositories/language/version/info_repository.rb
  app/resources/language/member_resource.rb
  app/resources/language_resource.rb
  app/resources/original_language_resource.rb
  config/locales/en.enumerize.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.enumerize.yml
  package-lock.json
  package.json
  test/fixtures/language/version/infos.yml
  test/fixtures/language/versions.yml
  test/fixtures/languages.yml
Due: bundle exec rubocop --force-exclusion

fix tests
  app/controllers/web/admin/reviews_controller.rb
  app/controllers/web/languages_controller.rb
  app/javascript/pages/web/languages/show.tsx
  app/javascript/types/serializers/OriginalLanguage.ts
  app/models/language.rb
  config/environments/test.rb
  test/fixtures/language/lesson/version/infos.yml
  test/fixtures/language/lesson/versions.yml
  test/fixtures/language/lessons.yml
  test/fixtures/language/module/version/infos.yml
  test/fixtures/language/module/versions.yml
  test/fixtures/language/modules.yml
  test/fixtures/language/version/infos.yml
Due: bundle exec rubocop --force-exclusion

update configuration
  README.md
  app/models/blog_post.rb
  config/environments/production.rb
  lib/app_host.rb
Due: bundle exec rubocop --force-exclusion

implement file uploading
  app/controllers/web/admin/blog_posts_controller.rb
  app/javascript/components/forms.tsx
  app/javascript/pages/web/admin/blog_posts/index.tsx
  app/javascript/pages/web/admin/blog_posts/shared/form.tsx
  app/javascript/pages/web/admin/reviews/shared/form.tsx
  app/javascript/primereact.ts
  app/javascript/types/serializers/OriginalLanguage.ts
  app/resources/blog_post_resource.rb
  app/resources/original_language_resource.rb
  config/application.rb
Due: bundle exec rubocop --force-exclusion

update admin/languages
  app/controllers/web/admin/languages_controller.rb
  app/javascript/pages/web/admin/languages/index.tsx
Due: bundle exec rubocop --force-exclusion

update deps
  Gemfile.lock
Due: none

restore data with s3 configuration
  config/storage.yml
Due: none

ignore files with sensitive data
  .gitignore
Due: none

enable sentry config
  config/initializers/sentry.rb
Due: bundle exec rubocop --force-exclusion

optimize migrations
  db/migrate/20250108143627_add_lesson_id_to_language_lesson_version_info.rb
  db/migrate/20250108144202_populate_lesson_id_in_lesson_version_info.rb
  db/migrate/20250122011027_change_type_for_language_lesson_id_in_language_lesson_version_infos.rb
  db/migrate/20250128194439_add_foreign_key_for_language_lesson_to_infos.rb
  db/migrate/20250128195313_validate_language_lesson_foreign_key.rb
  db/migrate/20250128195611_add_index_for_language_lesson_to_infos.rb
Due: bundle exec rubocop --force-exclusion

add gem to work with s3
  Gemfile
  Gemfile.lock
Due: none
