Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop --force-exclusion",
  "**/*.scss": "npx stylelint",
  "**/*.js?(x)": "npx eslint",
  "**/*.html.slim": "bundle exec slim-lint"
}

improve admin/messages
  app/controllers/web/admin/messages_controller.rb
  app/javascript/pages/web/admin/messages/index.tsx
  app/javascript/types/serializers/LanguageLessonMemberMessage.ts
  app/models/language/lesson/member/message.rb
  app/resources/language/lesson/member/message_resource.rb
  test/fixtures/language/lesson/member/messages.yml
Due: bundle exec rubocop --force-exclusion

:rocket: deploy
  k8s/app-chart/values.yaml
Due: none

improve styles & change translations
  app/javascript/locales.json
  app/javascript/pages/web/languages/show.tsx
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: none

fix reviews block
  app/controllers/web/languages_controller.rb
  app/javascript/pages/web/languages/show.tsx
Due: bundle exec rubocop --force-exclusion

change community block image
  app/javascript/entrypoints/application.scss
  app/javascript/images/course-landing-page/community.jpg
Due: npx stylelint

improve styles
  app/javascript/pages/web/languages/show.tsx
Due: none

hide reviews block
  app/controllers/web/languages_controller.rb
  app/javascript/pages/web/languages/show.tsx
Due: bundle exec rubocop --force-exclusion

fix translations
  app/javascript/locales.json
  config/locales/ru.views.yml
Due: none

improve messages list
  app/controllers/web/languages/lessons_controller.rb
  app/javascript/pages/web/admin/messages/index.tsx
  app/javascript/types/serializers/LanguageLessonMemberMessage.ts
  app/models/language.rb
  app/models/language/lesson.rb
  app/models/language/lesson/member.rb
  app/models/language/member.rb
  app/models/language/version.rb
  app/models/user.rb
  app/resources/language/lesson/member/message_resource.rb
  test/fixtures/language/lesson/member/messages.yml
Due: bundle exec rubocop --force-exclusion

improve the assistant
  Gemfile.lock
  app/controllers/ai/lessons/messages_controller.rb
  app/javascript/components/Chat.tsx
  app/javascript/hooks/useAssistantStream.ts
  app/javascript/pages/web/languages/lessons/show.tsx
  app/javascript/pages/web/languages/lessons/show/index.tsx
  app/jobs/assistants/run_job.rb
  package-lock.json
  package.json
  sorbet/rbi/gems/aws-partitions@1.1077.0.rbi
  sorbet/rbi/gems/aws-sdk-core@3.222.1.rbi
  sorbet/rbi/gems/nokogiri@1.18.7.rbi
  sorbet/rbi/gems/parser@3.3.7.4.rbi
  sorbet/rbi/gems/rbs@3.9.2.rbi
  sorbet/rbi/gems/rdoc@6.13.1.rbi
  sorbet/rbi/gems/ruby-openai@8.1.0.rbi
Due: bundle exec rubocop --force-exclusion

improve messages
  app/javascript/locales.json
  config/locales/ru.common.yml
  config/locales/ru.views.yml
Due: none

fixes
  app/javascript/images/code.svg
  app/javascript/locales.json
  app/javascript/pages/web/languages/show.tsx
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: none

update rbi
  sorbet/rbi/dsl/assistants/run_job.rbi
  sorbet/rbi/dsl/language/lesson.rbi
Due: none

change success page
  app/javascript/images/success-image.svg
  app/javascript/locales.json
  app/javascript/pages/web/languages/success.tsx
  config/locales/ru.views.yml
Due: none

change translations
  app/javascript/locales.json
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: none

change learning program accordion columns
  app/javascript/pages/web/languages/show.tsx
Due: none

change en translations
  app/javascript/locales.json
  config/locales/en.views.yml
Due: none

change community image size
  app/javascript/images/course-landing-page/community.jpg
Due: none

add blocks for course landing (#545)
  app/controllers/web/languages_controller.rb
  app/javascript/entrypoints/application.scss
  app/javascript/images/code.svg
  app/javascript/images/course-landing-page/community.jpg
  app/javascript/locales.json
  app/javascript/pages/web/languages/show.tsx
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion, npx stylelint

change course landing styles
  app/javascript/pages/web/languages/show.tsx
Due: none

add course finished members count
  app/controllers/web/languages_controller.rb
  app/javascript/locales.json
  app/javascript/pages/web/languages/show.tsx
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion

add tos page for en locale
  app/javascript/pages/web/pages/parts/tos.en.tsx
  app/javascript/pages/web/pages/show.tsx
Due: none

change ai block video links
  app/javascript/pages/web/languages/show.tsx
Due: none

improve error message
  app/lib/docker_exercise_api.rb
Due: bundle exec rubocop --force-exclusion

add 1c
  public/images/1c.png
  test/fixtures/language/versions.yml
  test/fixtures/languages.yml
Due: none

some improvements
  app/javascript/locales.json
  app/jobs/assistants/run_job.rb
  app/lib/docker_exercise_api.rb
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion

add privacy page for en locale
  app/javascript/pages/web/pages/parts/privacy.en.tsx
  app/javascript/pages/web/pages/show.tsx
Due: none

change learning program accordion styles
  app/javascript/pages/web/languages/show.tsx
Due: none

remove unused code
  app/javascript/pages/web/languages/show.tsx
Due: none

add cookie policy page for en locale
  app/javascript/pages/web/pages/parts/cookie_policy.en.tsx
  app/javascript/pages/web/pages/show.tsx
Due: none

change alert text for guests on lesson
  app/javascript/locales.json
  app/javascript/pages/web/languages/lessons/show/index.tsx
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: none

fix admin
  app/controllers/web/admin/language_landing_pages_controller.rb
  app/javascript/locales.json
  app/javascript/pages/web/admin/language_landing_pages/edit.tsx
  app/javascript/pages/web/admin/language_landing_pages/index.tsx
  app/javascript/pages/web/admin/language_landing_pages/new.tsx
  app/javascript/pages/web/admin/language_landing_pages/shared/form.tsx
  app/javascript/types/serializers/LanguageLandingPage.ts
  app/resources/language/landing_page_resource.rb
Due: bundle exec rubocop --force-exclusion
