Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop --force-exclusion",
  "**/*.scss": "npx stylelint",
  "**/*.js?(x)": "npx eslint",
  "**/*.html.slim": "bundle exec slim-lint"
}

improve styles
  app/javascript/pages/web/home/sitemap.tsx
Due: none

udpate deps
  Gemfile.lock
  README.md
  package-lock.json
  package.json
Due: none

show blog posts based on they locale
  app/controllers/web/blog_posts_controller.rb
Due: bundle exec rubocop --force-exclusion

hide assets from robots
  public/robots.txt
Due: none

remove old routes
  app/controllers/web/languages/lessons_controller.rb
  app/javascript/routes.d.ts
  app/javascript/routes.js
  app/lib/configus.rb
  app/views/api/languages/index.json.jbuilder.bak
  app/views/api/languages/lessons/index.json.jbuilder.bak
  app/views/api/languages/lessons/show.json.jbuilder.bak
  app/views/api/languages/show.json.jbuilder.bak
  config/routes.rb
  test/controllers/web/languages/lessons_controller_test.rb
Due: bundle exec rubocop --force-exclusion

some improvements
  app/javascript/analytics.ts
  app/javascript/locales.json
  config/locales/en.views.yml
Due: none

update rbi
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
Due: none

fix lint
  app/javascript/analytics.ts
Due: none

enable tag notification to slack
  .github/workflows/release.yml
Due: none

:rocket: deploy
  k8s/app-chart/values.yaml
Due: none

add notes abount sitemap
  app/controllers/web/home_controller.rb
  app/javascript/pages/web/home/sitemap.tsx
Due: bundle exec rubocop --force-exclusion

upload assets from repositories
  Gemfile.lock
  app/javascript/types/serializers/LanguageCrud.ts
  app/lib/exercise_loader.rb
  app/lib/markdown_image_processor.rb
  app/models/language/lesson.rb
  app/models/language/lesson/version/info.rb
  package-lock.json
  package.json
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/Makefile
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/description.en.yml
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/description.ru.yml
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/en/EXERCISE.md
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/en/README.md
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/en/assets/dart.png
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/en/assets/javascript.png
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/en/data.yml
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/es/EXERCISE.md
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/es/README.md
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/es/data.yml
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/index.js
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/ru/EXERCISE.md
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/ru/README.md
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/ru/assets/dart.png
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/ru/assets/javascript.png
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/ru/data.yml
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/test.js
  test/fixtures/files/exercises/modules/10-basics/description.en.yml
  test/fixtures/files/exercises/modules/10-basics/description.es.yml
  test/fixtures/files/exercises/modules/10-basics/description.ru.yml
  test/fixtures/files/exercises/spec.yml
  test/fixtures/language/versions.yml
  test/lib/exercise_loader_test.rb
  test/models/blog_post_test.rb
  test/models/language/category_test.rb
  test/models/language/landing_page_test.rb
  test/models/language/version/info_test.rb
  test/models/lesson_member_test.rb
  test/models/review_test.rb
  test/models/user_account_test.rb
Due: bundle exec rubocop --force-exclusion

some improvements
  app/javascript/pages/web/admin/languages/index.tsx
  app/javascript/types/serializers/Language.ts
  app/lib/exercise_loader.rb
  app/lib/markdown_image_processor.rb
  app/resources/language_resource.rb
  test/fixtures/language/landing_pages.yml
  test/fixtures/languages.yml
  test/test_helper.rb
Due: bundle exec rubocop --force-exclusion

change background image
  app/javascript/images/tg-contest-banner/background.svg
Due: none

add banner link
  app/javascript/pages/layouts/tg_contest_banner/TgContestBanner.tsx
Due: none

fix banner show date
  app/javascript/pages/layouts/tg_contest_banner/TgContestBanner.tsx
Due: none

change banner show date
  app/javascript/pages/layouts/tg_contest_banner/TgContestBanner.tsx
Due: none

add tg contest banner
  app/javascript/entrypoints/application.scss
  app/javascript/images/tg-contest-banner/background.svg
  app/javascript/images/tg-contest-banner/pi-image.svg
  app/javascript/pages/layouts/ApplicationLayout.tsx
  app/javascript/pages/layouts/tg_contest_banner/TgContestBanner.tsx
Due: npx stylelint

add banner id
  app/javascript/pages/layouts/tg_contest_banner/TgContestBanner.tsx
Due: none

fixes
  app/javascript/entrypoints/application.scss
  app/javascript/entrypoints/tg-contest-banner.scss
  app/javascript/pages/layouts/ApplicationLayout.tsx
  app/javascript/pages/layouts/banners/TgContestBanner.tsx
  app/javascript/pages/layouts/tg_contest_banner/TgContestBanner.tsx
Due: npx stylelint

change structure and remove some code
  app/javascript/entrypoints/application.scss
  app/javascript/pages/layouts/ApplicationLayout.tsx
  app/javascript/pages/layouts/banners/tg_contest_banner/TgContestBanner.tsx
  app/javascript/pages/layouts/banners/tg_contest_banner/images/background.svg
  app/javascript/pages/layouts/banners/tg_contest_banner/images/pi-image.svg
  app/javascript/pages/layouts/banners/tg_contest_banner/tg-contest-banner.scss
Due: npx stylelint

update packages
  package-lock.json
  package.json
Due: none

fix migrations
  app/models/language.rb
Due: bundle exec rubocop --force-exclusion

fix lint
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/index.js
  test/fixtures/files/exercises/modules/10-basics/10-hello-world/test.js
Due: none

change banner link
  app/javascript/pages/layouts/banners/tg_contest_banner/TgContestBanner.tsx
Due: none

create another user for dabase
  ansible/production/group_vars/all/vault.yml
  ansible/templates/secrets.auto.tfvars.j2
  terraform/databases.tf
Due: none

update deps
  Gemfile.lock
Due: none

fix attachments
  app/javascript/pages/web/blog_posts/show.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  app/javascript/types/serializers/BlogPost.ts
  app/models/blog_post.rb
  app/resources/blog_post_resource.rb
  config/storage.yml
  test/application_system_test_case.rb
  test/fixtures/active_storage/blobs.yml
  test/fixtures/files/blog_post.png
  test/test_helper.rb
Due: bundle exec rubocop --force-exclusion

improve blog posts
  Rakefile
  app/javascript/components/BlogPostBlock.tsx
  app/javascript/components/Root.tsx
  app/javascript/entrypoints/application.scss
  app/javascript/lib/utils.ts
  app/javascript/locales.json
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
  app/javascript/pages/web/blog_posts/show.tsx
  app/javascript/types/serializers/BlogPost.ts
  app/resources/blog_post_resource.rb
  config/locales/ru.common.yml
  config/locales/ru.helpers.yml
  test/fixtures/active_storage/blobs.yml
  test/fixtures/blog_posts.yml
Due: bundle exec rubocop --force-exclusion, npx stylelint

add likes
  app/controllers/web/blog_posts_controller.rb
  app/javascript/components/BlogPostBlock.tsx
  app/javascript/pages/web/blog_posts/index.tsx
  app/javascript/pages/web/blog_posts/show.tsx
  app/javascript/types/serializers/BlogPost.ts
  app/resources/blog_post_resource.rb
Due: bundle exec rubocop --force-exclusion

improve blog_posts/show
  app/javascript/pages/web/blog_posts/show.tsx
  app/javascript/types/serializers/BlogPost.ts
  app/resources/blog_post_resource.rb
  test/fixtures/users.yml
Due: bundle exec rubocop --force-exclusion

add ability to pin reviews
  app/controllers/web/reviews_controller.rb
  app/forms/admin/review_form.rb
  app/javascript/locales.json
  app/javascript/pages/web/admin/reviews/shared/form.tsx
  app/javascript/pages/web/admin/reviews/shared/menu.tsx
  app/javascript/pages/web/reviews/index.tsx
  app/javascript/types/serializers/ReviewCrud.ts
  app/models/review.rb
  app/resources/review_crud_resource.rb
  config/locales/ru.activerecord.yml
  db/migrate/20250312212333_add_pinned_to_reviews.rb
  db/schema.rb
  test/factories/reviews.rb
  test/fixtures/reviews.yml
Due: bundle exec rubocop --force-exclusion

revert using database user
  ansible/templates/secrets.auto.tfvars.j2
Due: none

fix linter errors
  app/javascript/components/BlogPostBlock.tsx
  app/javascript/components/Root.tsx
  app/javascript/lib/utils.ts
  app/javascript/pages/web/admin/reviews/shared/form.tsx
  app/javascript/pages/web/blog_posts/show.tsx
Due: none
