Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

:rocket: deploy
  k8s/hb-app-chart/values.yaml
Due: none

Fix lessons state machine (#433)
  app/models/language/lesson.rb
Due: bundle exec rubocop --force-exclusion

change organization info in markup scheme
  app/schemas/organization_schema.rb
  config/locales/en.yml
  config/locales/ru.yml
Due: bundle exec rubocop --force-exclusion

change organization info in markup scheme (#443)
  app/schemas/organization_schema.rb
  config/locales/en.yml
  config/locales/ru.yml
Due: bundle exec rubocop --force-exclusion

show organization shema
  app/views/layouts/shared/_footer.html.slim
  app/views/layouts/shared/_head.html.slim
  app/views/layouts/shared/_scheme_data.html.slim
Due: bundle exec slim-lint

change footer organization name
  config/locales/en.layouts.yml
  config/locales/ru.layouts.yml
Due: none

update react monaco editor && prevent loading sources from cdn
  app/javascript/lesson/components/Editor.jsx
  db/schema.rb
  package-lock.json
  package.json
  webpack.config.js
Due: bundle exec rubocop --force-exclusion

update react monaco editor && prevent loading sources from cdn (#448)
  app/javascript/lesson/components/Editor.jsx
  db/schema.rb
  package-lock.json
  package.json
  webpack.config.js
Due: bundle exec rubocop --force-exclusion

Revert "update react monaco editor && prevent loading sources from cdn (#448)"
  app/javascript/lesson/components/Editor.jsx
  db/schema.rb
  package-lock.json
  package.json
  webpack.config.js
Due: bundle exec rubocop --force-exclusion

disable minify with webpack because of terser minifying
  webpack.config.js
Due: none

Update react monaco editor (#449)
  app/javascript/lesson/components/Editor.jsx
  db/schema.rb
  package-lock.json
  package.json
  webpack.config.js
Due: bundle exec rubocop --force-exclusion

Revert "Update react monaco editor (#449)"
  app/javascript/lesson/components/Editor.jsx
  db/schema.rb
  package-lock.json
  package.json
  webpack.config.js
Due: bundle exec rubocop --force-exclusion

update schema
  db/schema.rb
Due: bundle exec rubocop --force-exclusion

copy monaco workers to public without digest
  package-lock.json
  package.json
  webpack.config.js
Due: none

update react monaco editor && prevent loading sources from cdn
  app/javascript/lesson/components/Editor.jsx
  package-lock.json
  package.json
  webpack.config.js
Due: none

fix using monaco workers after sprokets handling on production
  app/controllers/web/languages/lessons_controller.rb
  app/javascript/lesson/components/Editor.jsx
  app/javascript/lesson/utils/monacoWorkers.js
Due: bundle exec rubocop --force-exclusion

update react monaco editor, prevent loading sources from cdn (#450)
  app/controllers/web/languages/lessons_controller.rb
  app/javascript/lesson/components/Editor.jsx
  app/javascript/lesson/utils/monacoWorkers.js
  package-lock.json
  package.json
  webpack.config.js
Due: bundle exec rubocop --force-exclusion

update links in output bar for exercises
  app/assets/locales/ru.js
  app/javascript/lesson/components/Output.jsx
  app/javascript/lesson/utils/languagesUtils.js
Due: none

improve footer layout
  app/views/layouts/shared/_footer.html.slim
Due: bundle exec slim-lint

fix instagram icon
  app/javascript/stylesheets/bootstrap-icons.css
Due: none

Improve footer and fix instagram icon (#453)
  app/javascript/stylesheets/bootstrap-icons.css
  app/views/layouts/shared/_footer.html.slim
Due: bundle exec slim-lint

hix organization scheme
  app/schemas/organization_schema.rb
  app/views/layouts/shared/_head.html.slim
  app/views/layouts/shared/_scheme_data.html.slim
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint

hix organization scheme (#455)
  app/schemas/organization_schema.rb
  app/views/layouts/shared/_head.html.slim
  app/views/layouts/shared/_scheme_data.html.slim
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint

gtn id changed
  app/lib/configus.rb
Due: bundle exec rubocop --force-exclusion

fix path to description
  app/helpers/application_helper.rb
Due: bundle exec rubocop --force-exclusion

fix ci
  .github/workflows/pullrequest.yml
  .github/workflows/push.yml
  .github/workflows/release.yml
Due: none

update call center phone number
  config/locales/ru.yml
Due: none

init terraform config for timeweb
  .gitignore
  ansible/production/group_vars/all/vault.yml
  ansible/templates/backend_secrets.auto.tfvars.j2
  ansible/terraform.yml
  terraform/timeweb/.terraform.lock.hcl
  terraform/timeweb/Makefile
  terraform/timeweb/main.tf
  terraform/timeweb/variables.tf
  terraform/timeweb/versions.tf
Due: none

Path conditions:
  bundle exec rubocop --force-exclusion: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint: any of: **/*.html.slim
