Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

:rocket: deploy
  k8s/app-chart/values.yaml
Due: none

improve icons
  app/javascript/hooks/useDataTableProps.ts
  app/javascript/images/favicon.ico
  app/javascript/images/pre-course-java.png
  app/javascript/images/pre-course-java.svg
  app/javascript/images/pre-course-javascript.png
  app/javascript/images/pre-course-python.png
  app/javascript/images/pre-course-python.svg
  app/javascript/vite-env.d.ts
  package-lock.json
  package.json
  public/apple-touch-icon-precomposed.png
  public/apple-touch-icon.png
  public/favicon.ico
  public/icon-180.png
  public/icon-192.png
  public/icon-32.png
  public/icon-512.png
  public/manifest.webmanifest
  vite.config.ts
Due: none

fix favicons
  app/views/layouts/application.html.erb
  public/apple-touch-icon.png
  public/favicon.ico
  public/favicon.svg
  public/icon-180.png
  public/icon-192.png
  public/icon-32.png
  public/icon-512.png
Due: none

add amocrm contact widget
  app/javascript/components/Root.tsx
  app/views/layouts/application.html.erb
Due: none

reduce tab's width
  app/javascript/components/MarkdownViewer.tsx
  app/javascript/entrypoints/application.scss
Due: npx stylelint

remove amocrm widget
  app/views/layouts/application.html.erb
Due: none

add some fixes and ignores for biome
  app/javascript/components/MarkdownViewer.tsx
  app/javascript/lib/gon.ts
  app/javascript/lib/utils.ts
  app/javascript/pages/layouts/blocks/FooterBlock.tsx
  app/javascript/pages/web/languages/lessons/show.tsx
  app/javascript/pages/web/my/show.tsx
  app/javascript/pages/web/reviews/index.tsx
  app/javascript/vite-env.d.ts
  biome.json
Due: none

update deps
  Gemfile.lock
  package-lock.json
  package.json
Due: none

fix linter errors
  app/controllers/web/home_controller.rb
  app/javascript/components/Chat.tsx
  app/javascript/components/forms.tsx
  app/javascript/hooks/useAssistantStream.ts
  app/javascript/hooks/useDataTableProps.ts
  app/javascript/pages/layouts/blocks/FooterBlock.tsx
  app/javascript/pages/web/admin/leads/index.tsx
  app/javascript/pages/web/books/show.tsx
  app/javascript/pages/web/cases/for_teachers.tsx
  app/javascript/pages/web/home/sitemap.tsx
  app/javascript/pages/web/languages/lessons/show/components/EditorTab.tsx
  app/javascript/pages/web/languages/lessons/show/store.tsx
  app/javascript/pages/web/leads/new.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  config/routes.rb
  lib/tasks/app.rake
  test/controllers/web/home_controller_test.rb
Due: bundle exec rubocop --force-exclusion

udpate deps
  Gemfile.lock
  sorbet/rbi/gems/aggregate_root@2.17.1.rbi
  sorbet/rbi/gems/annotaterb@4.17.0.rbi
  sorbet/rbi/gems/aws-partitions@1.1129.0.rbi
  sorbet/rbi/gems/aws-sdk-core@3.226.2.rbi
  sorbet/rbi/gems/aws-sdk-s3@1.193.0.rbi
  sorbet/rbi/gems/counter_culture@3.11.2.rbi
  sorbet/rbi/gems/erb@5.0.2.rbi
  sorbet/rbi/gems/faker@3.5.2.rbi
  sorbet/rbi/gems/faraday@2.13.2.rbi
  sorbet/rbi/gems/io-console@0.8.1.rbi
  sorbet/rbi/gems/jwt@2.10.2.rbi
  sorbet/rbi/gems/mini_magick@5.3.0.rbi
  sorbet/rbi/gems/multi_json@1.16.0.rbi
  sorbet/rbi/gems/pagy@9.3.5.rbi
  sorbet/rbi/gems/rails_event_store@2.17.1.rbi
  sorbet/rbi/gems/rails_event_store_active_record@2.17.1.rbi
  sorbet/rbi/gems/rdoc@6.14.2.rbi
  sorbet/rbi/gems/rubocop-ast@1.46.0.rbi
  sorbet/rbi/gems/rubocop@1.78.0.rbi
  sorbet/rbi/gems/ruby-lsp-rails@0.4.7.rbi
  sorbet/rbi/gems/ruby-lsp@0.25.0.rbi
  sorbet/rbi/gems/ruby_event_store-active_record@2.17.1.rbi
  sorbet/rbi/gems/ruby_event_store-browser@2.17.1.rbi
  sorbet/rbi/gems/ruby_event_store@2.17.1.rbi
  sorbet/rbi/gems/sentry-rails@5.26.0.rbi
  sorbet/rbi/gems/sentry-ruby@5.26.0.rbi
  sorbet/rbi/gems/simplecov-html@0.13.1.rbi
  sorbet/rbi/gems/simplecov-html@0.13.2.rbi
  sorbet/rbi/gems/solid_queue@1.2.0.rbi
  sorbet/rbi/gems/sqlite3@2.7.2.rbi
  sorbet/rbi/gems/tapioca@0.17.7.rbi
Due: none

simplify robots.txt
  app/controllers/web/home_controller.rb
  config/routes.rb
  public/robots.txt
Due: bundle exec rubocop --force-exclusion

improve accesability
  app/javascript/components/AppAnchor.tsx
  app/javascript/components/BlogPostBlock.tsx
  app/javascript/components/CourseBlock.tsx
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
Due: none

udpate deps
  package-lock.json
  package.json
Due: none

png => webp
  app/javascript/images/frontend.svg
  app/javascript/images/layout-designer.png
  app/javascript/images/layout-designer.svg
Due: none

fix
  app/javascript/pages/web/languages/show.tsx
Due: none

update test
  test/controllers/web/home_controller_test.rb
Due: bundle exec rubocop --force-exclusion

update hero
  Gemfile.lock
  app/javascript/locales.json
  app/javascript/pages/web/home/index.tsx
  config/locales/ru.views.yml
  package-lock.json
  package.json
  test/controllers/web/home_controller_test.rb
Due: bundle exec rubocop --force-exclusion

fixes
  app/javascript/images/code-basics-coding-en.png
  app/javascript/images/code-basics-coding-en.webp
  app/javascript/images/code-basics-coding-ru.png
  app/javascript/images/code-basics-coding-ru.webp
  app/javascript/images/logo.svg
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
  app/javascript/pages/web/home/index.tsx
Due: none

chore(readme): fix github action status link
  README.md
Due: none

fix en
  app/javascript/locales.json
  app/javascript/routes.d.ts
  app/javascript/routes.js
  config/locales/en.views.yml
Due: none

run cookie consent after page fully loaded
  app/javascript/pages/layouts/ApplicationLayout.tsx
Due: none

fix seo issues
  app/controllers/web/home_controller.rb
  app/javascript/components/BlogPostBlock.tsx
  app/javascript/components/CourseBlock.tsx
  app/javascript/locales.json
  app/javascript/pages/layouts/blocks/FooterBlock.tsx
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion

improve accessibility
  app/javascript/components/CourseBlock.tsx
  app/javascript/pages/layouts/blocks/FooterBlock.tsx
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
Due: none

improve home page
  app/javascript/locales.json
  app/javascript/pages/web/home/index.tsx
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: none

infinite blog
  app/controllers/api/blog_posts_controller.rb
  app/javascript/hooks/useInfiniteBlogPosts.ts
  app/javascript/pages/web/blog_posts/show.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  config/routes.rb
  package-lock.json
  package.json
  test/controllers/api/blog_posts_controller_test.rb
Due: bundle exec rubocop --force-exclusion

fix blog
  app/javascript/pages/web/blog_posts/show.tsx
Due: none

update rbis
  sorbet/rbi/gems/aws-partitions@1.1131.0.rbi
  sorbet/rbi/gems/aws-sdk-core@3.226.3.rbi
  sorbet/rbi/gems/brakeman@7.1.0.rbi
  sorbet/rbi/gems/json@2.13.0.rbi
  sorbet/rbi/gems/multi_json@1.17.0.rbi
  sorbet/rbi/gems/ostruct@0.6.3.rbi
  sorbet/rbi/gems/ruby-lsp-rails@0.4.8.rbi
  sorbet/rbi/gems/ruby-lsp@0.26.0.rbi
  sorbet/rbi/gems/spoom@1.7.5.rbi
  sorbet/rbi/gems/sqlite3@2.7.3.rbi
Due: none

add related courses to blog posts
  app/controllers/web/admin/application_controller.rb
  app/controllers/web/admin/blog_posts_controller.rb
  app/controllers/web/blog_posts_controller.rb
  app/javascript/components/CourseBlock.tsx
  app/javascript/components/MarkdownViewer.tsx
  app/javascript/components/ProgramsList.tsx
  app/javascript/entrypoints/application.scss
  app/javascript/pages/web/admin/blog_posts/index.tsx
  app/javascript/pages/web/blog_posts/show.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  app/javascript/types/serializers/BlogPost.ts
  app/jobs/application_job.rb
  app/jobs/assistants/run_job.rb
  app/jobs/exercise_loader_job.rb
  app/jobs/find_related_courses_for_blog_post_job.rb
  app/lib/dependency_factory.rb
  app/models/blog_post.rb
  app/models/blog_post/related_language_item.rb
  app/models/language.rb
  app/resources/blog_post_resource.rb
  app/serializers/workflow_lead_serializer.rb
  config/routes.rb
  db/migrate/20250719200418_create_blog_post_related_language_items.rb
  db/schema.rb
  package-lock.json
  package.json
  test/factories/blog_post/related_language_items.rb
  test/fixtures/blog_post/related_language_items.yml
  test/fixtures/blog_posts.yml
  test/models/blog_post/related_language_item_test.rb
Due: bundle exec rubocop --force-exclusion, npx stylelint

add retry for jobs
  app/jobs/application_job.rb
Due: bundle exec rubocop --force-exclusion

fix useInfiniteBlogPosts
  app/javascript/hooks/useInfiniteBlogPosts.ts
Due: none

make shiki lazy
  app/javascript/components/LazyCodeHighlight.tsx
  app/javascript/components/MarkdownViewer.tsx
  app/javascript/components/Root.tsx
  app/javascript/entrypoints/application.scss
  app/javascript/lib/shiki.ts
  app/javascript/pages/web/languages/lessons/show/components/SolutionTab.tsx
  app/javascript/pages/web/languages/lessons/show/components/TestsTab.tsx
  package-lock.json
  package.json
  test/fixtures/language/lesson/version/infos.yml
Due: npx stylelint

Path conditions:
  bundle exec rubocop --force-exclusion: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint: any of: **/*.html.slim
