Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop --force-exclusion",
  "**/*.scss": "npx stylelint",
  "**/*.js?(x)": "npx eslint",
  "**/*.html.slim": "bundle exec slim-lint"
}

Make lessons loader use new lesson file structure
  app/lib/exercise_loader.rb
Due: bundle exec rubocop --force-exclusion

Add web-debug command
  make-app.mk
Due: none

Fix command name
  make-app.mk
Due: none

Add app-debug command (#431)
  make-app.mk
Due: none

replace legal address for en locale
  config/locales/en.layouts.yml
  config/locales/en.yml
Due: none

:rocket: deploy
  k8s/hb-app-chart/values.yaml
Due: none

Fix course duration counters
  app/models/language.rb
Due: bundle exec rubocop --force-exclusion

Fix lessons state machine
  app/models/language/lesson.rb
Due: bundle exec rubocop --force-exclusion

Make lessons loader use new lesson file structure (#429)
  app/lib/exercise_loader.rb
Due: bundle exec rubocop --force-exclusion

Add debugger settings to web container (#430)
  docker-compose.override.yml
Due: none

Add ruby-lsp gem
  Gemfile
  Gemfile.lock
Due: none

Add ruby-lsp gem (#428)
  Gemfile
  Gemfile.lock
Due: none

Fix lesson upload with assets
  app/lib/exercise_loader.rb
Due: bundle exec rubocop --force-exclusion

Replace .count with .size, leave a #TODO
  app/models/language.rb
Due: bundle exec rubocop --force-exclusion

Fix course duration counters (#432)
  app/models/language.rb
Due: bundle exec rubocop --force-exclusion

update deps & add make command
  Gemfile.lock
  make-compose-app.mk
Due: none

add new events
  app/controllers/api/lessons_controller.rb
  app/controllers/web/languages/lessons_controller.rb
  app/lib/events_mapping.rb
  app/models/language.rb
  app/models/language/lesson.rb
  app/models/language/lesson/member.rb
  app/models/language/member.rb
  app/models/language/version.rb
  app/models/user.rb
Due: bundle exec rubocop --force-exclusion

fix deprecation warnings
  app/models/language/lesson/version/info.rb
  app/models/language/version/info.rb
Due: bundle exec rubocop --force-exclusion

update back deps
  Gemfile.lock
Due: none

update front deps
  app/javascript/lesson/components/Output.jsx
  package-lock.json
  package.json
Due: none

fix linter offences
  .rubocop.yml
  config/initializers/content_security_policy.rb
  config/initializers/inflections.rb
  config/initializers/permissions_policy.rb
Due: bundle exec rubocop --force-exclusion

add yandex market feed
  app/controllers/api/partners/application_controller.rb
  app/controllers/api/partners/yandex_market/application_controller.rb
  app/controllers/api/partners/yandex_market/languages_controller.rb
  app/views/api/partners/yandex_market/languages/index.yml.builder
  config/initializers/mime_types.rb
  config/locales/en.times.yml
  config/locales/en.views.yml
  config/locales/ru.times.yml
  config/locales/ru.views.yml
  config/routes.rb
  test/controllers/api/partners/yandex_market/languages_controller_test.rb
Due: bundle exec rubocop --force-exclusion

update devicon
  app/javascript/stylesheets/devicon.css
Due: none

change legal address
  config/locales/ru.layouts.yml
Due: none

update feed
  app/views/api/partners/yandex_market/languages/index.yml.builder
Due: none

add slug to language started event
  app/models/language/version.rb
Due: bundle exec rubocop --force-exclusion

add incompleted languages to ym feed
  app/controllers/api/partners/yandex_market/languages_controller.rb
Due: bundle exec rubocop --force-exclusion

change footer margins
  app/views/layouts/shared/_footer.html.slim
Due: bundle exec slim-lint

improve footer styles
  app/views/layouts/shared/_footer.html.slim
  config/locales/ru.layouts.yml
Due: bundle exec slim-lint
