Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

fix feeds
  app/controllers/api/feeds_controller.rb
Due: bundle exec rubocop --force-exclusion

improve landing page's scopes
  app/controllers/api/feeds_controller.rb
  app/controllers/web/application_controller.rb
  app/controllers/web/language_categories_controller.rb
  app/repositories/language/landing_page_repository.rb
Due: bundle exec rubocop --force-exclusion

:rocket: deploy
  k8s/app-chart/values.yaml
Due: none

fix query for my
  app/controllers/web/my_controller.rb
Due: bundle exec rubocop --force-exclusion

improve layout
  app/javascript/pages/web/my/show.tsx
Due: none

fix translations
  app/javascript/locales.json
  app/javascript/pages/web/my/show.tsx
  config/locales/en.common.yml
  config/locales/en.layouts.yml
  config/locales/en.views.yml
  config/locales/ru.common.yml
Due: none

new course landing
  app/controllers/web/languages_controller.rb
  app/javascript/entrypoints/application.scss
  app/javascript/images/course-landing-page/learning.mov
  app/javascript/locales.json
  app/javascript/pages/web/languages/show.tsx
  app/javascript/types/serializers/LanguageLandingPage.ts
  app/javascript/types/serializers/LanguageLandingPageQnaItem.ts
  app/resources/language/landing_page_qna_item_resource.rb
  app/resources/language/landing_page_resource.rb
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion, npx stylelint

add translations
  app/javascript/locales.json
  config/locales/en.views.yml
Due: none

fix navbar collapse
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
Due: none

update deps
  .env.sample
  Gemfile
  Gemfile.lock
  Makefile
  app/javascript/components/Chat.tsx
  config/initializers/openai.rb
  package-lock.json
  package.json
  sorbet/rbi/gems/ast@2.4.3.rbi
  sorbet/rbi/gems/aws-partitions@1.1070.0.rbi
  sorbet/rbi/gems/counter_culture@3.9.0.rbi
  sorbet/rbi/gems/csv@3.3.3.rbi
  sorbet/rbi/gems/event_stream_parser@1.0.0.rbi
  sorbet/rbi/gems/faraday-multipart@1.1.0.rbi
  sorbet/rbi/gems/inertia_rails@3.7.0.rbi
  sorbet/rbi/gems/multipart-post@2.4.1.rbi
  sorbet/rbi/gems/nokogiri@1.18.5.rbi
  sorbet/rbi/gems/parser@3.3.7.2.rbi
  sorbet/rbi/gems/prism@1.4.0.rbi
  sorbet/rbi/gems/rbs@3.9.0.rbi
  sorbet/rbi/gems/rubocop-ast@1.41.0.rbi
  sorbet/rbi/gems/ruby-lsp@0.23.12.rbi
  sorbet/rbi/gems/ruby-openai@8.0.0.rbi
  sorbet/rbi/gems/solid_queue@1.1.4.rbi
Due: bundle exec rubocop --force-exclusion

update sorbet/rbi/gems
  sorbet/rbi/gems/parser@3.3.7.2.rbi
Due: none

fix tests
  .env.test
Due: none

add en learning process video
  app/javascript/images/course-landing-page/learning_en.mov
  app/javascript/images/course-landing-page/learning_ru.mov
  app/javascript/pages/web/languages/show.tsx
Due: none

add translations & improve styles
  app/javascript/images/course-landing-page/learning.mov
  app/javascript/locales.json
  app/javascript/pages/web/languages/show.tsx
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: none

update next tag command
  Makefile
Due: none

update rbi
  sorbet/rbi/dsl/admin/language_landing_page_form.rbi
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/language/landing_page.rbi
Due: none

skip openai initializing for assets pipeline
  config/application.rb
  config/initializers/openai.rb
Due: bundle exec rubocop --force-exclusion

new course landing (#533)
  app/controllers/web/languages_controller.rb
  app/javascript/entrypoints/application.scss
  app/javascript/images/course-landing-page/learning_en.mov
  app/javascript/images/course-landing-page/learning_ru.mov
  app/javascript/locales.json
  app/javascript/pages/web/languages/show.tsx
  app/javascript/types/serializers/LanguageLandingPage.ts
  app/javascript/types/serializers/LanguageLandingPageQnaItem.ts
  app/resources/language/landing_page_qna_item_resource.rb
  app/resources/language/landing_page_resource.rb
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion, npx stylelint

add openai credentials
  ansible/production/group_vars/all/vault.yml
  ansible/templates/secrets.auto.tfvars.j2
  config/initializers/openai.rb
Due: bundle exec rubocop --force-exclusion

update deps
  Gemfile.lock
  app/lib/application_container.rb
  package-lock.json
  package.json
Due: bundle exec rubocop --force-exclusion

update sorbet
  Makefile
  sorbet/rbi/gems/aws-partitions@1.1072.0.rbi
  sorbet/rbi/gems/aws-sdk-core@3.220.2.rbi
  sorbet/rbi/gems/parser@3.3.7.2.rbi
Due: none

update deps
  .env.sample
  Gemfile.lock
Due: none

add fixtures
  app/controllers/application_controller.rb
  app/controllers/web/application_controller.rb
  app/controllers/web/languages_controller.rb
  app/javascript/pages/web/languages/show.tsx
  test/fixtures/language/landing_page/qna_item.yml
  test/fixtures/language/landing_pages.yml
Due: bundle exec rubocop --force-exclusion

add success page
  app/controllers/web/languages_controller.rb
  app/javascript/locales.json
  app/javascript/pages/web/languages/success.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  config/locales/ru.views.yml
  config/routes.rb
  test/controllers/web/languages_controller_test.rb
Due: bundle exec rubocop --force-exclusion

change program accordion lessons list styles
  app/javascript/entrypoints/application.scss
  app/javascript/pages/web/languages/show.tsx
Due: npx stylelint

fix qna block show condition
  app/javascript/pages/web/languages/show.tsx
Due: none

change accordion font-size
  app/javascript/entrypoints/application.scss
Due: npx stylelint

change image size for landing page
  app/models/language/landing_page.rb
Due: bundle exec rubocop --force-exclusion

change about learning block
  app/javascript/images/course-landing-page/learning_en.mp4
  app/javascript/images/course-landing-page/learning_ru.mp4
  app/javascript/pages/web/languages/show.tsx
Due: none

add lessons links
  app/javascript/pages/web/languages/show.tsx
Due: none

remove mov videos
  app/javascript/images/course-landing-page/learning_en.mov
  app/javascript/images/course-landing-page/learning_ru.mov
Due: none

Path conditions:
  bundle exec rubocop --force-exclusion: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint: any of: **/*.html.slim
