Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

update deps
  Gemfile.lock
  package-lock.json
  package.json
  sorbet/rbi/gems/annotaterb@4.19.0.rbi
  sorbet/rbi/gems/aws-partitions@1.1157.0.rbi
  sorbet/rbi/gems/aws-sdk-core@3.232.0.rbi
  sorbet/rbi/gems/aws-sdk-kms@1.112.0.rbi
  sorbet/rbi/gems/aws-sdk-s3@1.199.0.rbi
  sorbet/rbi/gems/bigdecimal@3.2.2.rbi
  sorbet/rbi/gems/bigdecimal@3.2.3.rbi
  sorbet/rbi/gems/connection_pool@2.5.4.rbi
  sorbet/rbi/gems/factory_bot_rails@6.5.1.rbi
  sorbet/rbi/gems/googleauth@1.15.0.rbi
  sorbet/rbi/gems/hashdiff@1.2.1.rbi
  sorbet/rbi/gems/httpx@1.6.0.rbi
  sorbet/rbi/gems/inertia_rails@3.11.0.rbi
  sorbet/rbi/gems/jwt@3.1.2.rbi
  sorbet/rbi/gems/net-imap@0.5.10.rbi
  sorbet/rbi/gems/pg@1.6.2.rbi
  sorbet/rbi/gems/puma@7.0.2.rbi
  sorbet/rbi/gems/rack@3.2.1.rbi
  sorbet/rbi/gems/rexml@3.4.3.rbi
  sorbet/rbi/gems/rubocop-performance@1.26.0.rbi
  sorbet/rbi/gems/rubocop@1.80.2.rbi
  sorbet/rbi/gems/ruby-openai@8.3.0.rbi
  sorbet/rbi/gems/sentry-rails@5.27.0.rbi
  sorbet/rbi/gems/sentry-ruby@5.27.0.rbi
  sorbet/rbi/gems/signet@0.21.0.rbi
  sorbet/rbi/gems/tins@1.43.0.rbi
  sorbet/rbi/gems/typelizer@0.4.2.rbi
  sorbet/rbi/gems/typelizer@0.5.0.rbi
  sorbet/rbi/gems/unicode-display_width@3.2.0.rbi
  sorbet/rbi/gems/unicode-emoji@4.1.0.rbi
  sorbet/rbi/gems/uniform_notifier@1.18.0.rbi
Due: none

update deps
  Gemfile.lock
  package-lock.json
  package.json
Due: none

Fix pagination
  app/javascript/components/XPaging.tsx
  app/javascript/pages/web/reviews/index.tsx
Due: none

:rocket: deploy
  k8s/app-chart/values.yaml
Due: none

use default threads amount for checking
  k8s/app-chart/templates/web.check.deployment.yaml
Due: none

allow known baseline browsers
  .browserslist.json
  Gemfile
  Gemfile.lock
  Makefile
  app/controllers/concerns/browser_concern.rb
  app/controllers/web/application_controller.rb
  config/initializers/browserlist.rb
  package-lock.json
  package.json
  sorbet/rbi/gems/browserslist@0.1.0.rbi
Due: bundle exec rubocop --force-exclusion

update deps
  .browserslist.json
  Gemfile.lock
  app/javascript/pages/web/admin/language_lesson_reviews/index.tsx
  app/javascript/types/serializers/LanguageLessonReview.ts
  package-lock.json
  package.json
  sorbet/rbi/gems/aws-partitions@1.1159.0.rbi
  sorbet/rbi/gems/rexml@3.4.4.rbi
  sorbet/rbi/gems/term-ansicolor@1.11.3.rbi
  sorbet/rbi/gems/typelizer@0.5.1.rbi
Due: none

add local image version & ensure new exercise image
  app/lib/docker_exercise_client.rb
  app/lib/docker_exercise_client_interface.rb
  app/lib/docker_exercise_client_stub.rb
  app/lib/lesson_tester.rb
Due: bundle exec rubocop --force-exclusion

add analitics to unsupported browser page
  public/406-unsupported-browser.html
Due: none

change kube nodes, separate check and web
  k8s/app-chart/templates/console.deployment.yaml
  k8s/app-chart/templates/job.deployment.yaml
  k8s/app-chart/templates/web.check.daemonset.yaml
  k8s/app-chart/templates/web.check.deployment.yaml
  k8s/app-chart/templates/web.deployment.yaml
  terraform/kubernetes.tf
Due: none

improve infrasture config
  k8s/app-chart/templates/console.deployment.yaml
  k8s/app-chart/templates/job.deployment.yaml
  k8s/app-chart/templates/web.check.deployment.yaml
  k8s/app-chart/templates/web.deployment.yaml
  terraform/kubernetes.tf
Due: none

update FooterBlock to link to the Hexlet
  app/javascript/pages/layouts/blocks/FooterBlock.tsx
Due: none

Make phone numbers clickable in FooterBlock component
  app/javascript/pages/layouts/blocks/FooterBlock.tsx
Due: none

Fix indentation for contact information in FooterBlock component
  app/javascript/pages/layouts/blocks/FooterBlock.tsx
Due: none

update deps
  Gemfile.lock
  package-lock.json
  package.json
  sorbet/rbi/gems/mize@0.6.1.rbi
  sorbet/rbi/gems/prism@1.5.1.rbi
  sorbet/rbi/gems/pundit@2.5.1.rbi
  sorbet/rbi/gems/tins@1.43.0.rbi
  sorbet/rbi/gems/tins@1.44.1.rbi
Due: none

improve footer
  app/javascript/generated/locales.json
  app/javascript/pages/layouts/blocks/FooterBlock.tsx
  config/locales/ru.layouts.yml
Due: none

improve footer
  app/javascript/pages/layouts/blocks/FooterBlock.tsx
Due: none

fix markdown viewer
  app/javascript/components/MarkdownViewer.tsx
  app/javascript/entrypoints/application.scss
  test/fixtures/language/lesson/version/infos.yml
Due: npx stylelint

Fix code review remarks
  app/javascript/components/XPaging.tsx
  app/javascript/pages/web/reviews/index.tsx
Due: none

Remove only from xpaging
  app/javascript/components/XPaging.tsx
  app/javascript/pages/web/reviews/index.tsx
Due: none

fix footer names
  app/javascript/pages/layouts/blocks/FooterBlock.tsx
Due: none

udpate deps
  Gemfile.lock
  package.json
Due: none

Fix code review remarks
  app/javascript/components/XPaging.tsx
Due: none

extract redirect routes
  config/routes.rb
  config/routes/redirects.rb
Due: bundle exec rubocop --force-exclusion

Fix code review remarks
  app/controllers/web/reviews_controller.rb
  app/javascript/components/XPaging.tsx
  app/javascript/types/serializers/Pagy.ts
  app/resources/pagy_resource.rb
Due: bundle exec rubocop --force-exclusion

update deps
  package-lock.json
  package.json
Due: none

feed link for lang lessons
  app/lib/yandex_search_feed_builder.rb
Due: bundle exec rubocop --force-exclusion

fix: add translation key in footer and course update status
  app/javascript/generated/locales.json
Due: none

fix: add translation key in my learning section
  app/javascript/generated/locales.json
Due: none

Path conditions:
  bundle exec rubocop --force-exclusion: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint: any of: **/*.html.slim
