Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

update deps
  Gemfile.lock
  package-lock.json
  package.json
Due: none

:rocket: deploy
  k8s/app-chart/values.yaml
Due: none

add cookie policy page for ru locale
  app/javascript/locales.json
  app/javascript/pages/web/pages/parts/cookie_policy.ru.tsx
  app/javascript/pages/web/pages/show.tsx
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: none

fix forms
  app/controllers/web/admin/language_landing_pages_controller.rb
  app/javascript/components/forms.tsx
  app/javascript/pages/web/admin/blog_posts/shared/form.tsx
  app/javascript/pages/web/admin/language_categories/shared/form.tsx
  app/javascript/pages/web/admin/language_landing_pages/shared/form.tsx
  app/javascript/pages/web/admin/languages/shared/form.tsx
  app/javascript/pages/web/admin/reviews/shared/form.tsx
Due: bundle exec rubocop --force-exclusion

fix forms
  app/controllers/web/admin/language_landing_pages_controller.rb
  app/controllers/web/remind_passwords_controller.rb
  app/javascript/components/SignUpFormBlock.tsx
  app/javascript/components/forms.tsx
  app/javascript/pages/web/admin/blog_posts/shared/form.tsx
  app/javascript/pages/web/admin/language_categories/shared/form.tsx
  app/javascript/pages/web/admin/language_landing_pages/shared/form.tsx
  app/javascript/pages/web/admin/languages/shared/form.tsx
  app/javascript/pages/web/admin/reviews/shared/form.tsx
  app/javascript/pages/web/remind_passwords/new.tsx
  app/javascript/types/serializers/LanguageCategoryCrud.ts
  app/javascript/types/serializers/LanguageLandingPageCrud.ts
  app/javascript/types/serializers/PasswordReminder.ts
  app/javascript/types/serializers/PasswordReminderForm.ts
  app/javascript/types/serializers/UserSignUpForm.ts
  app/javascript/types/serializers/index.ts
  app/resources/language/category_crud_resource.rb
  app/resources/language/landing_page_crud_resource.rb
  app/resources/language/landing_page_qna_item_crud_resource.rb
  app/resources/password_reminder_form_resource.rb
  app/resources/sign_in_form_resource.rb
  app/resources/user_profile_form_resource.rb
  app/resources/user_sign_up_form_resource.rb
Due: bundle exec rubocop --force-exclusion

add missing translations
  app/javascript/locales.json
  config/locales/en.layouts.yml
Due: none

some fixes
  app/channels/application_cable/connection.rb
  app/controllers/web/languages/lessons_controller.rb
  app/controllers/web/languages_controller.rb
  app/javascript/pages/web/languages/show.tsx
  app/javascript/types/serializers/PasswordReminderForm.ts
  app/resources/password_reminder_form_resource.rb
  package-lock.json
  package.json
Due: bundle exec rubocop --force-exclusion

add lp (1c)
  app/javascript/lib/monacoLoader.ts
  test/fixtures/language/landing_pages.yml
Due: none

use shiki to highlight code
  app/javascript/lib/monacoLoader.ts
  app/javascript/lib/utils.ts
  app/javascript/pages/web/languages/lessons/show/components/EditorTab.tsx
  package-lock.json
  package.json
Due: none

add translations
  app/javascript/locales.json
  app/javascript/pages/web/languages/success.tsx
  config/locales/en.views.yml
Due: none

fix iphone bug view video
  app/javascript/images/course-landing-page/learning_en.mp4
  app/javascript/images/course-landing-page/learning_ru.mp4
Due: none

return showing video from repo
  app/javascript/pages/web/languages/show.tsx
Due: none

fix monaco loader
  app/javascript/lib/monacoLoader.ts
Due: none

fix showing categories (respect locale)
  app/controllers/web/language_categories_controller.rb
Due: bundle exec rubocop --force-exclusion

update robots txt file
  public/robots.txt
Due: none

improve course cards styles
  app/javascript/components/CourseBlock.tsx
Due: none

restrict demo lessons count
  Gemfile.lock
  app/controllers/api/lessons_controller.rb
  app/controllers/web/users_controller.rb
  app/javascript/entrypoints/inertia.tsx
  app/javascript/locales.json
  app/javascript/pages/web/languages/lessons/show/components/ControlBox.tsx
  app/javascript/pages/web/languages/lessons/show/components/OutputTab.tsx
  app/javascript/pages/web/languages/lessons/show/index.tsx
  app/javascript/pages/web/sessions/new.tsx
  app/javascript/pages/web/users/new.tsx
  app/views/layouts/application.html.erb
  config/locales/ru.views.yml
  package-lock.json
  package.json
  test/controllers/web/users_controller_test.rb
Due: bundle exec rubocop --force-exclusion

update sorbet rbi
  sorbet/rbi/gems/alba@3.6.0.rbi
  sorbet/rbi/gems/aws-partitions@1.1081.0.rbi
  sorbet/rbi/gems/aws-sdk-s3@1.183.0.rbi
  sorbet/rbi/gems/brakeman@7.0.1.rbi
  sorbet/rbi/gems/bullet@8.0.3.rbi
  sorbet/rbi/gems/inertia_rails@3.7.1.rbi
  sorbet/rbi/gems/ostruct@0.6.1.rbi
  sorbet/rbi/gems/reline@0.6.1.rbi
  sorbet/rbi/gems/rubocop-ast@1.44.0.rbi
  sorbet/rbi/gems/rubocop-performance@1.25.0.rbi
  sorbet/rbi/gems/rubocop-rails@2.31.0.rbi
  sorbet/rbi/gems/rubocop@1.75.2.rbi
Due: none

use grafana-alloy agent instead datadog
  ansible/production/group_vars/all/vault.yml
  ansible/templates/secrets.auto.tfvars.j2
  k8s/Makefile
  k8s/grafana-alloy-values.yaml
  terraform/kubernetes_secrets.tf
  terraform/variables.tf
Due: none

add for school teachers page
  app/controllers/web/for_school_teachers_controller.rb
  app/javascript/entrypoints/application.scss
  app/javascript/images/for-school-teachers-page/discussion-icon.svg
  app/javascript/images/for-school-teachers-page/integration-icon.svg
  app/javascript/images/for-school-teachers-page/interactive-format-icon.svg
  app/javascript/images/for-school-teachers-page/languages-image-small.png
  app/javascript/images/for-school-teachers-page/languages-image.png
  app/javascript/images/for-school-teachers-page/practice-icon.svg
  app/javascript/images/for-school-teachers-page/quotes.svg
  app/javascript/locales.json
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
  app/javascript/pages/web/for_school_teachers/index.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  config/locales/en.layouts.yml
  config/locales/en.views.yml
  config/locales/ru.layouts.yml
  config/locales/ru.views.yml
  config/routes.rb
  test/system/pages_test.rb
Due: bundle exec rubocop --force-exclusion, npx stylelint

improve categories page styles
  app/javascript/locales.json
  app/javascript/pages/web/language_categories/index.tsx
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: none

update yandex feed
  app/lib/yandex_search_feed_builder.rb
Due: bundle exec rubocop --force-exclusion

change nginx config to allow webvisor
  services/web-nginx/files/nginx.code-basics.conf
Due: none

add language lesson members controller to admin
  Gemfile.lock
  Rakefile
  app/controllers/web/admin/language_lesson_members_controller.rb
  app/controllers/web/admin/messages_controller.rb
  app/javascript/locales.json
  app/javascript/pages/layouts/AdminLayout.tsx
  app/javascript/pages/web/admin/language_lesson_members/index.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  app/javascript/types/serializers/LanguageLessonMember.ts
  app/models/language/lesson/member.rb
  app/models/language/lesson/member/message.rb
  app/resources/language/lesson/member_resource.rb
  config/locales/ru.layouts.yml
  config/locales/ru.views.yml
  config/routes.rb
  db/migrate/20250411215238_add_messages_count_to_langauge_lesson_member.rb
  db/migrate/20250412004351_reset_counter_caches.rb
  db/schema.rb
  package-lock.json
  package.json
  sorbet/rbi/gems/aws-partitions@1.1086.0.rbi
  sorbet/rbi/gems/brakeman@7.0.2.rbi
  sorbet/rbi/gems/dotenv@3.1.8.rbi
  sorbet/rbi/gems/faraday@2.13.0.rbi
  sorbet/rbi/gems/rbi@0.3.2.rbi
  sorbet/rbi/gems/rubocop-ast@1.44.1.rbi
  sorbet/rbi/gems/ruby-lsp@0.23.14.rbi
  sorbet/tapioca/require.rb
  test/controllers/web/admin/language_lesson_members_controller_test.rb
  test/fixtures/language/lesson/member/messages.yml
  test/fixtures/language/lesson/members.yml
Due: bundle exec rubocop --force-exclusion

update sorbet
  sorbet/rbi/dsl/generated_path_helpers_module.rbi
  sorbet/rbi/dsl/generated_url_helpers_module.rbi
  sorbet/rbi/dsl/language/lesson/member.rbi
Due: none

update deps
  Gemfile.lock
Due: none

Path conditions:
  bundle exec rubocop --force-exclusion: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint: any of: **/*.html.slim
