Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop --force-exclusion",
  "**/*.scss": "npx stylelint",
  "**/*.js?(x)": "npx eslint",
  "**/*.html.slim": "bundle exec slim-lint"
}

update
  app/javascript/lib/utils.ts
  app/javascript/pages/web/languages/lessons/show/components/ControlBox.tsx
  app/javascript/pages/web/languages/lessons/show/components/Editor.tsx
  app/javascript/pages/web/languages/lessons/show/components/TabsBox.tsx
  app/javascript/pages/web/languages/lessons/show/index.tsx
  app/javascript/types/i18next.d.ts
Due: none

update
  app/assets/locales/en.js
  app/assets/locales/index.js
  app/assets/locales/ru.js
  app/javascript/init.ts
  app/javascript/lib/utils.ts
  app/javascript/locales.json
  app/javascript/pages/web/languages/lessons/show.tsx
  app/javascript/pages/web/languages/lessons/show/components/App.tsx
  app/javascript/pages/web/languages/lessons/show/components/ControlBox.tsx
  app/javascript/pages/web/languages/lessons/show/components/EditorTab.tsx
  app/javascript/pages/web/languages/lessons/show/components/HTMLPreview.tsx
  app/javascript/pages/web/languages/lessons/show/components/Output.tsx
  app/javascript/pages/web/languages/lessons/show/components/OutputTab.tsx
  app/javascript/pages/web/languages/lessons/show/components/Solution.tsx
  app/javascript/pages/web/languages/lessons/show/components/SolutionTab.tsx
  app/javascript/pages/web/languages/lessons/show/components/TabsBox.tsx
  app/javascript/pages/web/languages/lessons/show/components/TestForExercise.tsx
  app/javascript/pages/web/languages/lessons/show/components/TestsBox.tsx
  app/javascript/pages/web/languages/lessons/show/index.tsx
  app/javascript/pages/web/languages/lessons/show/slices/GeneralSlice.ts
  app/javascript/pages/web/languages/lessons/show/slices/checkInfoSlice.ts
  app/javascript/pages/web/languages/lessons/show/slices/editorSlice.ts
  app/javascript/pages/web/languages/lessons/show/slices/index.ts
  app/javascript/pages/web/languages/lessons/show/slices/lessonSlice.ts
  app/javascript/pages/web/languages/lessons/show/slices/solutionSlice.ts
  app/javascript/pages/web/languages/lessons/show/slices/tabsBoxSlice.ts
  app/javascript/types/serializers/LanguageLesson.ts
  app/resources/language/lesson_resource.rb
  config/locales/en.common.yml
  config/locales/ru.common.yml
  config/locales/ru.views.yml
  package-lock.json
  package.json
Due: bundle exec rubocop --force-exclusion

update
  Gemfile.lock
  app/javascript/pages/web/languages/lessons/show.tsx
  app/javascript/pages/web/languages/lessons/show/components/ControlBox.tsx
  app/javascript/pages/web/languages/lessons/show/components/EditorTab.tsx
  app/javascript/pages/web/languages/lessons/show/components/SolutionTab.tsx
  app/javascript/pages/web/languages/lessons/show/components/TabsBox.tsx
  app/javascript/pages/web/languages/lessons/show/components/TestsBox.tsx
  app/javascript/pages/web/languages/lessons/show/index.tsx
  app/javascript/pages/web/languages/lessons/show/slices/RootSlice.ts
  app/javascript/pages/web/languages/lessons/show/slices/index.ts
  app/javascript/pages/web/languages/lessons/show/types.ts
  app/javascript/types/serializers/LanguageLesson.ts
Due: none

update
  app/controllers/web/languages/lessons_controller.rb
  app/javascript/locales.json
  app/javascript/pages/web/languages/lessons/show/components/OutputTab.tsx
  app/javascript/pages/web/languages/lessons/show/index.tsx
  app/javascript/pages/web/languages/lessons/show/types.ts
  app/lib/exercise_loader.rb
  app/models/language/lesson/version/info.rb
  app/resources/language/lesson_resource.rb
  config/locales/ru.common.yml
  db/migrate/20250108143627_add_lesson_id_to_language_lesson_version_info.rb
  db/migrate/20250108144202_populate_lesson_id_in_lesson_version_info.rb
  db/schema.rb
  test/fixtures/language/lesson/version/infos.yml
Due: bundle exec rubocop --force-exclusion

update
  app/javascript/locales.json
  app/javascript/pages/web/languages/lessons/show.tsx
  app/javascript/pages/web/languages/lessons/show/components/ControlBox.tsx
  app/javascript/pages/web/languages/lessons/show/components/EditorTab.tsx
  app/javascript/pages/web/languages/lessons/show/components/OutputTab.tsx
  app/javascript/pages/web/languages/lessons/show/components/SolutionTab.tsx
  app/javascript/pages/web/languages/lessons/show/components/TabsBox.tsx
  config/locales/ru.common.yml
Due: none

update
  Gemfile
  Gemfile.lock
  app/controllers/web/sessions_controller.rb
  app/controllers/web/users_controller.rb
  app/javascript/components/XFlash.tsx
  app/javascript/components/XssContent.tsx
  app/javascript/components/forms.tsx
  app/javascript/hooks/useLinkClickHandler.ts
  app/javascript/locales.json
  app/javascript/pages/layouts/ApplicationLayout.tsx
  app/javascript/pages/layouts/NavbarBlock.tsx
  app/javascript/pages/web/home/index.tsx
  app/javascript/pages/web/sessions/new.tsx
  app/javascript/pages/web/users/new.tsx
  app/javascript/types/types.d.ts
  config/locales/ru.activemodel.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.helpers.yml
  config/locales/ru.views.yml
  package-lock.json
  package.json
Due: bundle exec rubocop --force-exclusion

update
  app/controllers/web/account/profiles_controller.rb
  app/controllers/web/remind_passwords_controller.rb
  app/javascript/components/XFlash.tsx
  app/javascript/components/forms.tsx
  app/javascript/entrypoints/inertia.tsx
  app/javascript/locales.json
  app/javascript/pages/layouts/NavbarBlock.tsx
  app/javascript/pages/web/account/profiles/edit.tsx
  app/javascript/pages/web/remind_passwords/new.tsx
  app/resources/user_profile_form_resource.rb
  config/locales/ru.activemodel.yml
  config/locales/ru.helpers.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion

update
  app/javascript/hooks/useConfirmation.ts
  app/javascript/hooks/useLinkClickHandler.ts
  app/javascript/locales.json
  app/javascript/pages/web/account/profiles/edit.tsx
  app/javascript/types/serializers/UserProfileForm.ts
  app/javascript/types/serializers/index.ts
  app/views/layouts/application.html.erb
  config/locales/ru.common.yml
  config/locales/ru.views.yml
  package-lock.json
  package.json
Due: none

udpate
  Gemfile
  Gemfile.lock
  app/controllers/web/languages/lessons_controller.rb
  app/controllers/web/languages_controller.rb
  app/javascript/pages/web/languages/show.tsx
  app/repositories/language/lesson/version/info_repository.rb
  app/repositories/language/lesson_repository.rb
  app/resources/user_profile_form_resource.rb
Due: bundle exec rubocop --force-exclusion

update
  Gemfile
  Gemfile.lock
  app/controllers/web/admin/home_controller.rb
  app/javascript/entrypoints/inertia.tsx
  app/javascript/pages/layouts/NavbarBlock.tsx
  app/javascript/pages/web/admin/blog_posts/edit.tsx
  app/javascript/pages/web/admin/blog_posts/index.tsx
  app/javascript/pages/web/admin/blog_posts/new.tsx
  app/javascript/pages/web/admin/home/index.tsx
  app/javascript/pages/web/admin/language_versions/index.tsx
  app/javascript/pages/web/admin/languages/edit.tsx
  app/javascript/pages/web/admin/languages/index.tsx
  app/javascript/pages/web/admin/languages/new.tsx
  app/javascript/pages/web/admin/reviews/edit.tsx
  app/javascript/pages/web/admin/reviews/index.tsx
  app/javascript/pages/web/admin/reviews/new.tsx
  app/javascript/pages/web/admin/users/edit.tsx
  app/javascript/pages/web/admin/users/index.tsx
  app/javascript/primereact.ts
  app/javascript/types/serializers/User.ts
  app/javascript/types/serializers/UserProfileForm.ts
  app/resources/user_resource.rb
  package-lock.json
  package.json
Due: bundle exec rubocop --force-exclusion

update
  app/controllers/web/admin/home_controller.rb
  app/controllers/web/application_controller.rb
  app/javascript/components/BlogPostBlock.tsx
  app/javascript/components/CourseBlock.tsx
  app/javascript/components/XFlash.tsx
  app/javascript/components/breadcrumbs.tsx
  app/javascript/hooks/useFilterSubmit.ts
  app/javascript/lib/utils.ts
  app/javascript/locales.json
  app/javascript/pages/layouts/ApplicationLayout.tsx
  app/javascript/pages/layouts/LessonLayout.tsx
  app/javascript/pages/layouts/NavbarBlock.tsx
  app/javascript/pages/web/admin/home/index.tsx
  app/javascript/pages/web/blog_posts/show.tsx
  app/javascript/pages/web/home/index.tsx
  app/javascript/pages/web/languages/lessons/show.tsx
  app/javascript/pages/web/languages/lessons/show/types.ts
  app/javascript/pages/web/languages/show.tsx
  app/javascript/types/index.d.ts
  app/javascript/types/serializers/Q.ts
  app/javascript/types/serializers/User.ts
  app/javascript/types/serializers/index.ts
  app/resources/q_resource.rb
  app/resources/user_resource.rb
  config/locales/ru.helpers.yml
  package-lock.json
  package.json
Due: bundle exec rubocop --force-exclusion

update
  Gemfile
  Gemfile.lock
  app/controllers/web/admin/blog_posts_controller.rb
  app/controllers/web/admin/languages/versions_controller.rb
  app/controllers/web/admin/languages_controller.rb
  app/controllers/web/admin/management/users_controller.rb
  app/controllers/web/admin/reviews_controller.rb
  app/controllers/web/application_controller.rb
  app/javascript/components/dtTemplates.tsx
  app/javascript/components/forms.tsx
  app/javascript/hooks/useLinkClickHandler.ts
  app/javascript/locales.json
  app/javascript/pages/layouts/AdminLayout.tsx
  app/javascript/pages/web/admin/home/index.tsx
  app/javascript/pages/web/admin/management/users/edit.tsx
  app/javascript/pages/web/admin/management/users/index.tsx
  app/javascript/types/serializers/Q.ts
  app/javascript/types/serializers/User.ts
  app/resources/user_resource.rb
  config/locales/ru.activerecord.yml
Due: bundle exec rubocop --force-exclusion

update
  app/controllers/web/admin/home_controller.rb
  app/controllers/web/admin/management/users_controller.rb
  app/controllers/web/application_controller.rb
  app/javascript/hooks/useDataTable.ts
  app/javascript/hooks/useUpdateEffect.ts
  app/javascript/lib/utils.ts
  app/javascript/pages/web/admin/home/index.tsx
  app/javascript/pages/web/admin/management/users/edit.tsx
  app/javascript/pages/web/admin/management/users/index.tsx
  app/javascript/types/serializers/User.ts
  app/resources/grid_resource.rb
  app/resources/q_resource.rb
Due: bundle exec rubocop --force-exclusion

update
  app/controllers/web/admin/blog_posts_controller.rb
  app/controllers/web/admin/languages_controller.rb
  app/controllers/web/admin/management/users_controller.rb
  app/controllers/web/admin/reviews_controller.rb
  app/javascript/hooks/useDataTable.ts
  app/javascript/pages/web/account/profiles/edit.tsx
  app/javascript/pages/web/admin/blog_posts/index.tsx
  app/javascript/pages/web/admin/home/index.tsx
  app/javascript/pages/web/admin/language_versions/index.tsx
  app/javascript/pages/web/admin/languages/index.tsx
  app/javascript/pages/web/admin/management/users/edit.tsx
  app/javascript/pages/web/admin/management/users/index.tsx
  app/javascript/pages/web/admin/reviews/index.tsx
  app/javascript/pages/web/admin/users/edit.tsx
  app/javascript/pages/web/admin/users/index.tsx
  app/resources/blog_post_resource.rb
  app/resources/language_resource.rb
  app/resources/review_resource.rb
Due: bundle exec rubocop --force-exclusion

update
  Gemfile.lock
  app/controllers/web/admin/reviews_controller.rb
  app/javascript/components/forms.tsx
  app/javascript/lib/utils.ts
  app/javascript/locales.json
  app/javascript/pages/web/admin/reviews/edit.tsx
  app/javascript/pages/web/admin/reviews/index.tsx
  app/javascript/pages/web/admin/reviews/new.tsx
  app/javascript/pages/web/admin/reviews/shared/form.tsx
  app/javascript/pages/web/admin/reviews/shared/menu.tsx
  app/javascript/types/serializers/BlogPost.ts
  app/javascript/types/serializers/Grid.ts
  app/javascript/types/serializers/Language.ts
  app/javascript/types/serializers/Review.ts
  app/javascript/types/serializers/User.ts
  app/javascript/types/serializers/index.ts
  config/locales/ru.helpers.yml
  config/locales/ru.views.yml
  package.json
  test/fixtures/reviews.yml
Due: bundle exec rubocop --force-exclusion

update
  app/controllers/web/admin/blog_posts_controller.rb
  app/controllers/web/admin/languages_controller.rb
  app/controllers/web/admin/reviews_controller.rb
  app/controllers/web/application_controller.rb
  app/javascript/components/forms.tsx
  app/javascript/lib/utils.ts
  app/javascript/locales.json
  app/javascript/pages/layouts/NavbarBlock.tsx
  app/javascript/pages/web/admin/reviews/edit.tsx
  app/javascript/pages/web/admin/reviews/new.tsx
  app/javascript/pages/web/admin/reviews/shared/form.tsx
  app/resources/review_resource.rb
  config/locales/ru.activerecord.yml
Due: bundle exec rubocop --force-exclusion

update
  app/javascript/components/forms.tsx
  app/javascript/pages/web/admin/reviews/index.tsx
  app/javascript/pages/web/admin/reviews/shared/form.tsx
  app/javascript/types/index.d.ts
  app/resources/review_resource.rb
Due: bundle exec rubocop --force-exclusion

update
  app/controllers/web/admin/api/application_controller.rb
  app/controllers/web/admin/api/users_controller.rb
  app/javascript/components/forms.tsx
  app/javascript/entrypoints/application.scss
  app/javascript/lib/utils.ts
  app/javascript/locales.json
  app/javascript/pages/web/admin/reviews/index.tsx
  app/javascript/pages/web/admin/reviews/shared/form.tsx
  app/javascript/primereact.ts
  config/locales/ru.activerecord.yml
Due: bundle exec rubocop --force-exclusion, npx stylelint

update
  app/controllers/web/admin/reviews_controller.rb
  app/javascript/components/forms.tsx
  app/javascript/locales.json
  app/javascript/pages/web/admin/reviews/new.tsx
  app/javascript/pages/web/admin/reviews/shared/form.tsx
  app/javascript/types/serializers/Review.ts
  config/locales/ru.activerecord.yml
Due: bundle exec rubocop --force-exclusion

fix variable name in breadcrumbs
  app/views/web/blog_posts/show.html.slim
Due: bundle exec slim-lint

:rocket: deploy
  k8s/app-chart/values.yaml
Due: none

update
  Gemfile.lock
  app/controllers/web/admin/blog_posts_controller.rb
  app/controllers/web/admin/languages_controller.rb
  app/javascript/components/forms.tsx
  app/javascript/locales.json
  app/javascript/pages/web/admin/blog_posts/edit.tsx
  app/javascript/pages/web/admin/blog_posts/index.tsx
  app/javascript/pages/web/admin/blog_posts/new.tsx
  app/javascript/pages/web/admin/blog_posts/shared/form.tsx
  app/javascript/pages/web/admin/blog_posts/shared/menu.tsx
  app/javascript/pages/web/admin/languages/edit.tsx
  app/javascript/pages/web/admin/languages/index.tsx
  app/javascript/pages/web/admin/languages/new.tsx
  app/javascript/pages/web/admin/languages/shared/form.tsx
  app/javascript/pages/web/admin/languages/shared/menu.tsx
  app/javascript/primereact.ts
  app/javascript/types/serializers/OriginalLanguage.ts
  app/javascript/types/serializers/Pagy.ts
  app/javascript/types/serializers/Review.ts
  app/javascript/types/serializers/index.ts
  app/resources/blog_post_resource.rb
  config/locales/ru.views.yml
  package-lock.json
  package.json
Due: bundle exec rubocop --force-exclusion

update
  app/controllers/web/admin/blog_posts_controller.rb
  app/controllers/web/admin/languages_controller.rb
  app/controllers/web/application_controller.rb
  app/javascript/pages/web/admin/languages/edit.tsx
  app/javascript/pages/web/admin/languages/index.tsx
  app/javascript/pages/web/admin/languages/new.tsx
  app/javascript/pages/web/admin/languages/shared/form.tsx
  app/javascript/types/index.d.ts
  app/models/language.rb
  config/locales/ru.views.yml
  test/controllers/web/admin/blog_posts_controller_test.rb
Due: bundle exec rubocop --force-exclusion

update
  Gemfile.lock
  app/controllers/web/application_controller.rb
  app/controllers/web/errors_controller.rb
  app/javascript/entrypoints/inertia.tsx
  app/javascript/init.ts
  app/javascript/pages/layouts/AdminLayout.tsx
  app/javascript/pages/layouts/ApplicationLayout.tsx
  app/javascript/pages/layouts/LessonLayout.tsx
  app/javascript/pages/layouts/NavbarBlock.tsx
  app/javascript/pages/web/errors/show.tsx
  app/javascript/pages/web/languages/lessons/show/components/ControlBox.tsx
  app/javascript/pages/web/languages/lessons/show/components/EditorTab.tsx
  app/javascript/ssr/ssr.tsx
  app/javascript/types/serializers/BlogPost.ts
  app/views/layouts/application.html.erb
  app/views/layouts/deps/_domains_verifications.slim
  app/views/layouts/deps/_gtm_body.html.slim
  app/views/layouts/deps/_gtm_head.html.slim
  app/views/layouts/deps/_legal_docs.html.slim
  app/views/layouts/deps/_renta_head.html.slim
  config/application.rb
  config/routes.rb
  k8s/app-chart/templates/web.deployment.yaml
  vite.config.ts
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint

update
  app/controllers/web/languages/lessons_controller.rb
  app/controllers/web/languages_controller.rb
  app/javascript/components/forms.tsx
  app/javascript/locales.json
  app/javascript/pages/web/languages/lessons/show.tsx
  app/javascript/pages/web/languages/lessons/show/components/EditorTab.tsx
  config/locales/ru.common.yml
  config/locales/ru.views.yml
  test/controllers/web/google_auth_controller_test.rb
  test/controllers/web/languages/lessons_controller_test.rb
  test/controllers/web/languages_controller_test.rb
  test/controllers/web/users_controller_test.rb
Due: bundle exec rubocop --force-exclusion

update
  app/controllers/web/languages/lessons_controller.rb
  app/controllers/web/passwords_controller.rb
  app/controllers/web/remind_passwords_controller.rb
  app/resources/password_reminder_resource.rb
  app/resources/user_password_resource.rb
  test/controllers/web/passwords_controller_test.rb
Due: bundle exec rubocop --force-exclusion

update
  Makefile
  app/controllers/web/application_controller.rb
  app/controllers/web/passwords_controller.rb
  app/controllers/web/remind_passwords_controller.rb
  app/controllers/web/sessions_controller.rb
  app/controllers/web/users_controller.rb
  app/javascript/components/forms.tsx
  app/javascript/entrypoints/inertia.tsx
  app/javascript/locales.json
  app/javascript/pages/layouts/NavbarBlock.tsx
  app/javascript/pages/web/passwords/edit.tsx
  app/javascript/pages/web/remind_passwords/new.tsx
  app/javascript/pages/web/sessions/new.tsx
  app/javascript/pages/web/users/new.tsx
  app/javascript/types/serializers/PasswordReminder.ts
  app/javascript/types/serializers/UserPassword.ts
  app/javascript/types/serializers/index.ts
  app/mailers/user_mailer.rb
  app/services/user_service.rb
  app/views/layouts/mailer.html.erb
  app/views/layouts/mailer.text.erb
  app/views/user_mailer/reset_password.html.erb
  app/views/user_mailer/reset_password.html.slim
  config/environments/development.rb
  config/environments/test.rb
  config/locales/ru.activemodel.yml
  config/locales/ru.flash.yml
  config/locales/ru.helpers.yml
  test/mailers/previews/user_mailer_preview.rb
Due: bundle exec rubocop --force-exclusion, bundle exec slim-lint

update
  Dockerfile
  Gemfile.lock
  Makefile
  config/routes.rb
Due: bundle exec rubocop --force-exclusion

update
  README.md
  app/javascript/locales.json
  app/javascript/pages/web/reviews/index.tsx
  app/javascript/types/serializers/Review.ts
  app/resources/review_resource.rb
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion

udpate
  Gemfile.lock
  README.md
  app/javascript/locales.json
  app/javascript/pages/web/pages/parts/about.en.tsx
  app/javascript/pages/web/pages/parts/authors.en.tsx
  app/javascript/pages/web/pages/parts/authors.ru.tsx
  app/javascript/pages/web/pages/show.tsx
  config/locales/en.activemodel.yml
  config/locales/en.helpers.yml
  config/locales/en.views.yml
  package-lock.json
  package.json
Due: none

update
  Gemfile
  Gemfile.lock
  app/controllers/inertia_example_controller.rb
  app/controllers/web/account/application_controller.rb
  app/controllers/web/account/profiles_controller.rb
  app/controllers/web/admin/application_controller.rb
  app/controllers/web/application_controller.rb
  app/controllers/web/blog_posts_controller.rb
  app/controllers/web/errors_controller.rb
  app/controllers/web/google_auth_controller.rb
  app/controllers/web/home_controller.rb
  app/controllers/web/language_categories_controller.rb
  app/controllers/web/languages/lessons_controller.rb
  app/controllers/web/languages_controller.rb
  app/controllers/web/pages_controller.rb
  app/controllers/web/passwords_controller.rb
  app/controllers/web/remind_passwords_controller.rb
  app/controllers/web/reviews_controller.rb
  app/controllers/web/sessions_controller.rb
  app/controllers/web/users_controller.rb
  app/javascript/components/XFlash.tsx
  app/javascript/components/forms.tsx
  app/javascript/pages/layouts/AdminLayout.tsx
  app/javascript/pages/web/pages/parts/about.en.tsx
  app/javascript/pages/web/pages/parts/about.ru.tsx
  app/javascript/pages/web/pages/parts/authors.en.tsx
  app/javascript/pages/web/pages/parts/authors.ru.tsx
  app/javascript/pages/web/pages/parts/privacy.ru.tsx
  app/javascript/pages/web/pages/parts/tos.ru.tsx
  app/javascript/pages/web/pages/show.tsx
  app/views/layouts/application.html.erb
  config/initializers/meta_tags.rb
  config/locales/ru.views.yml
  public/robots.txt
Due: bundle exec rubocop --force-exclusion

update
  README.md
  app/controllers/web/blog_posts_controller.rb
  app/controllers/web/languages/lessons_controller.rb
  app/controllers/web/languages_controller.rb
  app/controllers/web/reviews_controller.rb
  app/javascript/locales.json
  app/javascript/pages/layouts/ApplicationLayout.tsx
  app/javascript/pages/web/blog_posts/index.tsx
  app/javascript/pages/web/pages/parts/about.en.tsx
  app/javascript/pages/web/pages/parts/about.ru.tsx
  app/javascript/pages/web/pages/parts/authors.en.tsx
  app/javascript/pages/web/pages/parts/authors.ru.tsx
  app/javascript/pages/web/pages/parts/privacy.ru.tsx
  app/javascript/pages/web/pages/parts/tos.ru.tsx
  app/javascript/pages/web/pages/show.tsx
  app/javascript/pages/web/reviews/index.tsx
  app/models/language/version/info.rb
  app/resources/pagy_resource.rb
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion

update
  Makefile
Due: none

update
  Caddyfile
  Procfile.dev
  README.md
  app/controllers/application_controller.rb
  app/controllers/web/home_controller.rb
  app/controllers/web/users_controller.rb
  app/javascript/components/SignUpFormBlock.tsx
  app/javascript/components/forms.tsx
  app/javascript/locales.json
  app/javascript/pages/layouts/ApplicationLayout.tsx
  app/javascript/pages/layouts/NavbarBlock.tsx
  app/javascript/pages/web/home/index.tsx
  app/javascript/pages/web/languages/lessons/show.tsx
  app/javascript/pages/web/users/new.tsx
  app/javascript/types/serializers/Pagy.ts
  app/javascript/types/serializers/UserSignUpForm.ts
  app/javascript/types/serializers/index.ts
  app/resources/user_sign_up_form_resource.rb
  app/views/layouts/application.html.erb
  config/application.rb
  config/environments/development.rb
  config/initializers/content_security_policy.rb
  config/locales/en.views.yml
  config/locales/ru.flash.yml
  config/locales/ru.views.yml
  config/vite.json
  package-lock.json
  package.json
Due: bundle exec rubocop --force-exclusion

update
  Caddyfile
  Gemfile.lock
  app/javascript/entrypoints/application.js
  app/javascript/locales.json
  app/javascript/pages/web/languages/lessons/show.tsx
  app/views/layouts/application.html.erb
  config/environments/development.rb
  config/initializers/content_security_policy.rb
  config/initializers/vite.rb
  config/locales/ru.views.yml
  config/vite.json
  package-lock.json
  package.json
  vite.config.ts
Due: bundle exec rubocop --force-exclusion

update
  Caddyfile
  README.md
  Rakefile
  app/controllers/web/home_controller.rb
  app/javascript/components/CourseBlock.tsx
  app/models/language.rb
  app/resources/language_resource.rb
  test/fixtures/language/members.yml
Due: bundle exec rubocop --force-exclusion

update
  app/controllers/web/application_controller.rb
  app/controllers/web/home_controller.rb
  app/javascript/components/CourseBlock.tsx
  app/javascript/pages/layouts/NavbarBlock.tsx
  app/javascript/pages/web/home/index.tsx
  app/javascript/types/serializers/Language.ts
  app/javascript/types/serializers/LanguageMember.ts
  app/javascript/types/serializers/index.ts
  app/resources/language/member_resource.rb
  app/resources/language_resource.rb
Due: bundle exec rubocop --force-exclusion

update
  Gemfile.lock
  app/controllers/web/application_controller.rb
  app/controllers/web/home_controller.rb
  package-lock.json
  package.json
  tsconfig.app.json
  tsconfig.node.json
  vite.config.ts
Due: bundle exec rubocop --force-exclusion
