Repository hexlet-basics/hexlet-basics: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop --force-exclusion, npx stylelint, bundle exec slim-lint

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop --force-exclusion",
  "**/*.scss": "npx stylelint",
  "**/*.js?(x)": "npx eslint",
  "**/*.html.slim": "bundle exec slim-lint"
}

:rocket: deploy
  k8s/app-chart/values.yaml
Due: none

fix landing_page.web
  app/repositories/language/landing_page_repository.rb
Due: bundle exec rubocop --force-exclusion

fix forms
  app/javascript/locales.json
  app/resources/language_crud_resource.rb
Due: bundle exec rubocop --force-exclusion

fix web scope
  app/repositories/language/landing_page_repository.rb
Due: bundle exec rubocop --force-exclusion

change progress button in header
  app/javascript/locales.json
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
  config/locales/en.layouts.yml
  config/locales/ru.layouts.yml
Due: none

Revert "temporarily hide qna on landing"
  app/javascript/pages/web/languages/show.tsx
Due: none

use proxy mode instead redirect for active storage
  config/environments/production.rb
Due: bundle exec rubocop --force-exclusion

fix preloading courses menu
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
Due: none

improve styles
  app/javascript/entrypoints/application.scss
  app/javascript/pages/web/languages/show.tsx
Due: npx stylelint

improve chat
  app/controllers/ai/lessons/messages_controller.rb
  app/javascript/components/Chat.tsx
  app/javascript/locales.json
  config/locales/ru.views.yml
Due: bundle exec rubocop --force-exclusion

fixes
  Makefile
  Rakefile
  app/javascript/components/Chat.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
  app/lib/yandex_search_feed_builder.rb
  config/environments/staging.rb
  services/web-nginx/files/nginx.code-basics.conf
  test/fixtures/active_storage/attachments.yml
  test/fixtures/active_storage/blobs.yml
Due: bundle exec rubocop --force-exclusion

try to fix streaming
  app/controllers/ai/lessons/messages_controller.rb
  services/web-nginx/files/nginx.code-basics.conf
Due: bundle exec rubocop --force-exclusion

fix yandex feed
  Makefile
  app/javascript/routes.d.ts
  app/javascript/routes.js
  app/lib/yandex_search_feed_builder.rb
Due: bundle exec rubocop --force-exclusion

disable fetching previous messages
  app/javascript/components/Chat.tsx
  package-lock.json
  package.json
Due: none

fix forms
  Gemfile.lock
  app/forms/admin/blog_post_form.rb
  app/forms/admin/language_form.rb
  app/forms/admin/language_landing_page_form.rb
  app/javascript/pages/web/admin/language_categories/shared/form.tsx
Due: bundle exec rubocop --force-exclusion

fix removing nested fields
  app/javascript/components/forms.tsx
  app/javascript/pages/web/admin/language_categories/shared/form.tsx
  app/javascript/pages/web/admin/language_landing_pages/shared/form.tsx
  app/javascript/pages/web/admin/languages/shared/form.tsx
Due: none

some improvements
  app/javascript/components/Root.tsx
  app/javascript/entrypoints/inertia.tsx
  app/javascript/locales.json
  config/application.rb
  config/locales/en.layouts.yml
  config/locales/ru.layouts.yml
  package-lock.json
  package.json
  services/web-nginx/files/nginx.code-basics.conf
  vite.config.ts
Due: bundle exec rubocop --force-exclusion

improve assets loading
  app/javascript/components/CourseBlock.tsx
  app/views/layouts/application.html.erb
  services/web-nginx/Dockerfile
  services/web-nginx/files/nginx.code-basics.conf
  services/web-nginx/files/nginx.cors.conf
Due: none

remove React.lazy
  app/javascript/pages/web/languages/lessons/show/components/App.tsx
  app/javascript/pages/web/languages/lessons/show/components/HTMLPreview.tsx
  test/fixtures/language/landing_pages.yml
Due: none

show banner on blog post page
  app/javascript/locales.json
  app/javascript/pages/web/blog_posts/show.tsx
  config/locales/ru.views.yml
Due: none

fix nginx config
  services/web-nginx/files/nginx.code-basics.conf
Due: none

fix sentry errors
  app/javascript/entrypoints/inertia.tsx
  app/javascript/pages/layouts/ApplicationLayout.tsx
  app/javascript/routes.d.ts
  app/javascript/routes.js
Due: none

update deps
  Gemfile.lock
  package-lock.json
  package.json
Due: none

improve cards styles on my
  app/javascript/components/CourseBlock.tsx
  app/javascript/pages/web/my/show.tsx
Due: none

fix blog post image size
  app/javascript/pages/web/blog_posts/show.tsx
Due: none

update deps
  package-lock.json
  package.json
Due: none

fix errors
  app/controllers/web/sessions_controller.rb
  app/javascript/components/forms.tsx
  app/javascript/locales.json
  app/javascript/routes.d.ts
  app/javascript/routes.js
  config/locales/ru.flash.yml
Due: bundle exec rubocop --force-exclusion

hide my learning button from guests
  app/javascript/pages/layouts/blocks/NavbarBlock.tsx
Due: none

add proxy irl to config
  ansible/production/group_vars/all/vault.yml
  ansible/templates/secrets.auto.tfvars.j2
  app/lib/configus.rb
  terraform/variables.tf
Due: bundle exec rubocop --force-exclusion

fix typo
  app/lib/configus.rb
Due: bundle exec rubocop --force-exclusion
